/*reset.scss*/
html,
body {
  height: 100%;
  width: 100%;
}
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
}

hr {
  border-color: #9b9b9b;
  border-width: 1px;
  width: 100%;
}
a {
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
  color: #00adf7;
}
a:hover,
a:focus {
  color: #4a4a4a;
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}
p {
  font-size: 14px;
}
.hubble-text-faded {
  color: rgba(255, 255, 255, 0.7);
}
section {
  padding:0;
}
aside {
  padding: 0;
}
.no-padding {
  padding: 0;
}
::-moz-selection {
  text-shadow: none;
  
  color: #ffffff;
  background: #222222;
}
::selection {
  text-shadow: none;
  
  color: #ffffff;
  background: #222222;
}
img::selection {
  color: #ffffff;
  background: transparent;
}
img::-moz-selection {
  color: #ffffff;
  background: transparent;
}
body {
  webkit-tap-highlight-color: #222222;
}

.hubble-font-normal{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.hubble-font-bold{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
}

.hubble-btn {
  position: relative;
  height: 40px;
  border: none;  
  
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-radius: 5px;
}

.hubble-setdrop-action-btn{
  background: #D2D0CD;
  font-size: 18px;
  font-weight: 700;
  color: #36b1e5;
  margin: 0 10px;
  height: 35px;
  border-radius: 10px;
}

.hubble-link-blue{
  color: #36b1e5;
}
.hubble-brownish-grey{
  color: #606060;
}
.hubble-pinkish-grey{
  color: #c2c2c2;
}
.hubble-pinkish-grey-two{
  color: #bdb5b5;
}
.hubble-pale-red{
  color: #e54b4b;
}
.hubble-gainsboro{
  color: #d8d8d8;
}
.hubble-nightrider{
  color: #343434;
}
.hubble-dark-grey{
  color: #a9a9a9;
}
.hubble-marine{
  color: #073041;
}

/*custom scrollbar */
.hubble-custom-scroll{
  height: 500px;
  overflow-y: scroll;
  overflow-x: hidden;
  margin: 10px 0;
  max-height: 500px;
}
.hubble-custom-scroll::-webkit-scrollbar-track
{
  border-radius: 10px;
  background-color: transparent;
}

.hubble-custom-scroll::-webkit-scrollbar
{
  width: 8px;
  background-color: transparent;
}

.hubble-custom-scroll::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.15);
}



/*modal general */
.hubble-modal-wrap{
  padding: 15% 0 0;
}
.hubble-modal-wrap .modal-dialog{
  width: 41.666667%;
}
.hubble-modal-wrap .modal-header{
  padding: 10px 15px;
  background: #073041;
  color: #ffffff;
  text-align: center;
}
.hubble-modal-wrap .modal-body{
  padding: 40px 65px 20px;
}
.hubble-modal-wrap .modal-body .hubble-modaladata-inputdiv{
  padding: 5px 0px 35px;
}
.hubble-modal-wrap .modal-body .hubble-modaladata-inputdiv input{
  height: 40px;
  font-size: 16px;
  color: #000000;
}
.hubble-modal-wrap .hubble-modaldata-info{
  font-size: 18px;
  color: #000000;
}
.hubble-modal-wrap .modal-footer{
  padding: 10px 65px 20px;
  border: none;
}
.hubble-modal-wrap .modal-footer button{
  font-size: 20px;
  color: #ffffff;
  border-radius: 8px;
  font-weight: 700;
}
.hubble-modal-wrap .modal-footer .hubble-modal-btn-change{
  background: #36b1e5;
  top: -10px;
}
.hubble-modal-wrap .modal-footer .hubble-modal-btn-ok{
  background: #F80042;
  top: -10px;
}
.hubble-modal-wrap .modal-footer .hubble-modal-btn-close{
  background: #535353;
  margin-left: 8.33333333%;
}



/* mobile responsive portrait*/
@media (min-width: 300px) and (max-width: 767px){
  .hubble-custom-scroll{
    margin: 5px 0 15px; 
  }
  .hubble-custom-scroll::-webkit-scrollbar{
    width: 5px;    
  }

  .hubble-modal-wrap {
    padding: 42% 0 0;
  }
  .hubble-modal-wrap .modal-dialog {
    width: 85%;
    margin-left: 7%;
  }
  .hubble-modal-wrap .modal-header{
    padding: 5px;
  }
  .hubble-modal-wrap .modal-header .modal-title{
    font-size: 16px;
  }
  .hubble-modal-wrap .modal-body {
    padding: 10px 15px 10px;
  }
  .hubble-modal-wrap .modal-body .hubble-modaladata-inputdiv{
    padding: 0px 15px 25px;
  }
  .hubble-modal-wrap .modal-body .hubble-modaladata-inputdiv input{
    font-size: 14px;
  }
  .hubble-modal-wrap .hubble-modaldata-info{
    font-size: 14px;
  }
  .hubble-modal-wrap .modal-footer {
    padding: 10px 20px 10px;
  }
  .hubble-modal-wrap .modal-footer button {
    font-size: 14px;
    padding: 5px;
  }
}
/* mobile responsive portrait*/
@media (min-width: 300px) and (max-width: 767px) and (orientation : landscape){
  .hubble-custom-scroll{
    margin: 5px 0 15px; 
  }
  .hubble-custom-scroll::-webkit-scrollbar{
    width: 5px;    
  }

  .hubble-modal-wrap {
    padding: 20% 0 0;
  }
  .hubble-modal-wrap .modal-dialog {
    width: 66.66666%;
    margin-left: 18%;
  }
}

/* ipad portrait */
@media (min-width: 768px) and (max-width: 990px) {
  .hubble-custom-scroll {
    height: 700px;
    max-height: 700px;
  }

  .hubble-modal-wrap {
    padding: 30% 0 0;
  }
  .hubble-modal-wrap .modal-dialog {
    width: 58.33333333%;
  }
  .hubble-modal-wrap .modal-header .modal-title{
    font-size: 20px;
  }
  .hubble-modal-wrap .modal-body {
    padding: 25px 65px 20px;
  }
  .hubble-modal-wrap .modal-body .hubble-modaladata-inputdiv{
    padding: 0px 15px 25px;
  }
  .hubble-modal-wrap .modal-body .hubble-modaladata-inputdiv input{
    font-size: 14px;
  }
  .hubble-modal-wrap .hubble-modaldata-info{
    font-size: 16px;
  }
  .hubble-modal-wrap .modal-footer {
    padding: 10px 80px 10px;
  }
  .hubble-modal-wrap .modal-footer button {
    font-size: 18px;
  }
}
/* ipad landscape */
@media (min-width: 991px) and (max-width: 1199px) {
  .hubble-custom-scroll {
    height: 400px;
    max-height: 600px;
  }

  .hubble-modal-wrap {
    padding: 18% 0 0;
  }
  .hubble-modal-wrap .modal-dialog {
    width: 50%;
  }
  .hubble-modal-wrap .modal-header .modal-title{
    font-size: 20px;
  }
  .hubble-modal-wrap .modal-body {
    padding: 25px 65px 20px;
  }
  .hubble-modal-wrap .hubble-modaldata-info{
    font-size: 16px;
  }
  .hubble-modal-wrap .modal-footer {
    padding: 10px 80px 10px;
  }
  .hubble-modal-wrap .modal-footer button {
    font-size: 18px;
  }
}

/* laptop */
@media (min-width: 1200px) and (max-width: 1429px) {
  .hubble-custom-scroll{
    height: 500px;
    max-height: 550px;
  }
  .hubble-modal-wrap{
    padding: 16% 0 0;
  }
}
@media (min-width: 1430px) and (max-width: 1499px) {
  .hubble-modal-wrap .modal-dialog{
    width: 33.333333%;
  }
  .hubble-custom-scroll{
    height: 580px;
    max-height: 680px;
  }
  .hubble-modal-wrap{
    padding: 20% 0 0;
  }
}
/* desktop */
@media (min-width: 1500px) and (max-width: 1699px) {
  .hubble-custom-scroll{
    height: 560px;
    max-height: 600px;
  }
}

/* large desktop - 21 inch */
@media (min-width: 1700px) and (max-width: 1949px) {
  .hubble-modal-wrap{
    padding: 20% 0 0;
  }
  .hubble-modal-wrap .modal-dialog{
    width: 33.333333%;
  }
  .hubble-custom-scroll {
    height: 700px;
    max-height: 800px;
  }
}

/* Full HDTV */
@media (max-width: 2150px) and (min-width: 1950px){
  .hubble-modal-wrap{
    padding: 22% 0 0;
  }
  .hubble-modal-wrap .modal-dialog{
    width: 25%;
  }
  .hubble-custom-scroll {
    height: 800px;
    max-height: 850px;
  }
}

/* 4k digital screen*/
@media(max-width: 3900px) and (min-width: 2150px) {
  .hubble-modal-wrap{
    padding: 22% 0 0;
  }
  .hubble-modal-wrap .modal-dialog{
    width: 33.333333%;
  }
  .hubble-custom-scroll {
    height: 1600px;
    max-height: 1650px;
  }
}

