/*mainview.scss*/
.hubble-mainview-bodybg{
  background-image: url('../img/hubble-dashboard-bg1.jpg');

  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  object-fit: contain;
  text-shadow: 0px 0px 0px transparent;
}
/*mainview top navbar*/
.hubble-mainview-navbar {
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;

  min-height: 65px;
  padding: 3px 10px;
  z-index: 1050; 
  
  border-color: rgba(34, 34, 34, 0.05);
  background-color: #f1f1f1;
}
.hubble-mainview-navhead .navbar-toggle {
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  
  color: #4a4a4a;
}
.hubble-mainview-nav{
  padding: 0;
}
.hubble-mainview-nav > li{
  list-style-type: none;
  top: 18px;
  position: relative;
  padding: 0 5px;
  font-size: 14px;
}
.hubble-mainview-nav > li > a,
.hubble-mainview-nav > li > a:focus {
  color: #343434;
  padding: 0;
}
.hubble-mainview-nav > li > a:hover,
.hubble-mainview-nav > li > a:focus:hover {
  color: #a9a9a9;
  background-color: transparent;
}
.hubble-mainview-nav > li.active > a,
.hubble-mainview-nav > li.active > a:focus {
  color: #d8d8d8;
  background-color: transparent;
}
.hubble-mainview-nav > li.active > a:hover,
.hubble-mainview-nav > li.active > a:focus:hover {
  background-color: transparent;
}

.hubble-mainview-usernav{
  padding: 10px 15px 0;
}
.hubble-mainview-usernav > li{
  list-style-type: none;
}

/* .hubble-navitem-seprator */
ul li.hubble-mainviewnav-seprator {
  margin: 0px 5px;
  padding: 0px;
  border: 1.6px solid;
  height: 30px;
  top: 13px;  
}


/*mainview-breadcrumb*/
.hubble-mainview-breadcrumbs{
  margin-top: 65px;
  position: fixed;
  width: 100%;
  z-index:1030;
}
.hubble-mainview-breadhead{
  padding: 25px 25px 20px;
  min-height: 90px;
  
  color: #ffffff;
  background-color: #073041;
}
.hubble-mainview-breadhead .hubble-bread-backlink{
  top: -4px;
  position: relative;
  margin: 0 20px;
}
.hubble-mainview-breadhead .hubble-bread-setting{
  padding-left: 18px;
}
.hubble-mainview-breadhead .hubble-bread-title{
  display: inline-block;
  width: 25%;
  font-weight: 500;
  font-size: 28px;
  margin: 0;
}
.hubble-bread-head--edit{
  top: -5px;
  position: relative;
}
.hubble-bread-head--edit:active,.hubble-bread-head--edit:focus{
  outline: none;
}


/* mainview settings dropdown */
.hubble-mainview-settingwrap{
    background: url('../img/hubble-setting-bg.png') no-repeat;
    /* background-position: center center; */
    background-size: cover;
    margin-top: -27px;
    border: none;
    padding: 40px 75px 20px;
    color: #4a4a4a;
}
.hubble-setting-droptitle{
  font-size: 18px;
  padding: 5px 0 15px;
  text-transform: uppercase;
  color: #000000;
}
.hubble-setting-notify-titles, .hubble-setting-notify-actions, 
.hubble-camsetting-titles, .hubble-camsetting-actions, 
.hubble-setting-playtune-wrap{
  padding: 0;
  font-size: 14px;
}

.hubble-set-notify-icons{
  line-height: 25px;
  padding-left: 35px;
  margin-bottom: 27px;
}
.hubble-setting-notify-titles > ul > li.hubble-setnotify-motion{
  background: url('../img/hubble-icons/hubble-set-notify-motion.svg') no-repeat 0 50%;
}
.hubble-setting-notify-titles > ul > li.hubble-setnotify-sound{
  background: url('../img/hubble-icons/hubble-set-notify-sound.svg') no-repeat 0 50%;
}
.hubble-setting-notify-titles > ul > li.hubble-setnotify-temp{
  background: url('../img/hubble-icons/hubble-set-notify-temp.svg') no-repeat 0 50%;
}
.hubble-set-notify-icons p{  
  padding-left: 15px;
}

.hubble-setting-notify-actions >ul > li {
  line-height: 15px;
  padding: 5px 0 0;
}
.hubble-setting-notify-actions >ul > li > label,
.hubble-setting-notify-actions >ul > li > .hubble-control-rangewrap,
.hubble-setting-notify-actions >ul > li > .hubble-setting-radiodiv
{
  margin: 0 0 12px;
}
.hubble-camsetting-actions > ul > li > label,
.hubble-camsetting-actions > ul > li > .hubble-setting-radiodiv,
.hubble-camsetting-actions > ul > li > ..hubble-control-rangewrap{
  margin: 0 0 3px;
}
.hubble-camsetting-list-padbot{
  padding: 0 0 15px;
}
.hubble-setting-divider{
  clear: both;
  border-bottom: 1px solid #979797;
  padding: 3% 0 0;
  margin-bottom: 5%;
}
.hubble-setting-timezone-wrap{
 
}
.hubble-setting-timezone-wrap > li {
  padding: 0 0 20px;
}
.hubble-setting-timezone-wrap > li .hubble-settimezone-head {
  display: inline;  
  font-weight: 700;
  font-size: 16px;
}
.hubble-setting-timezone-wrap > li .hubble-settimezone-country {
  font-weight: 400;
  font-size: 16px;
}

.hubble-setplaytune-icon{
  line-height: 25px;
  padding-left: 35px;
}
.hubble-setting-playtune-wrap > ul > li{
  cursor: pointer;
}
.hubble-setting-playtune-wrap > ul > li.hubble-setplaytune-melody{
  background: url('../img/hubble-icons/hubble-set-playtune.svg') no-repeat 0 50%;
}
.hubble-playtune-selected {
  color: #36b1e5;
}

/*bootstrap slider temp fix for range slider*/
/*.hubble-control-rangewrap .slider{
  margin-bottom: 19px !important;
}
.hubble-control-rangewrap .slider .slider-tick-label-container .slider-tick-label{
  width: 40.5px !important;
}
.hubble-tempcontrol-range .slider-handle, .hubble-volume-range .slider-handle{
  width: 22px;
  height: 22px;
  background: #36b1e5;
  border: 2px solid #fff;
}*/
.hubble-control-rangewrap, .hubble-volume-range {
  width: 90%;
  padding: 5px 0 25px;
}
.hubble-tickcontrol-range .hubble-range-tick {
  width: 10px;
  background-color: #36b1e5;
  height: 10px;
  position: absolute;
  top: -4px;
  border-radius: 50%;
}
.hubble-tickcontrol-range .hubble-range-tick#percent0,
.hubble-tickcontrol-range .hubble-range-number#number0{
  margin-left:0%;
}

.hubble-tickcontrol-range .hubble-range-tick#percent25, 
.hubble-tickcontrol-range .hubble-range-number#number25{
  margin-left:25%;
}
.hubble-tickcontrol-range .hubble-range-tick#percent50{
  margin-left:50%;  
}
.hubble-tickcontrol-range .hubble-range-number#number50{
  margin-left:42%;
}
.hubble-tickcontrol-range .hubble-range-tick#percent75, 
.hubble-tickcontrol-range .hubble-range-number#number75{
  margin-left:75%;
}

.hubble-tickcontrol-range .hubble-range-tick#percent100,
.hubble-tickcontrol-range .hubble-range-number#number100{
  margin-left:100%;
}

.hubble-tickcontrol-range .hubble-range-number {
  position: absolute;
  top: 15px;
  font-size: 11px;
  color: #4a4a4a;
}
.hubble-control-rangewrap .ui-slider-horizontal .ui-slider-handle {
  background: url('../img/hubble-icons/hubble-range-selected.svg') 0% 0% no-repeat;
  background-size: contain;
  width: 24px;
  height: 24px;
}

/*disabled tick control */
.hubble-tickcontrol-range.ui-state-disabled{
  opacity: 1;
}
.hubble-tickcontrol-range.ui-state-disabled .hubble-range-tick {
  background-color: #c8c8c8;
}
.hubble-control-rangewrap .ui-slider-horizontal.ui-state-disabled .ui-slider-handle {
  background: transparent;
}


.hubble-tempcontrol-range .hubble-tempcontrol-title{
  padding-bottom: 15px;
}
.hubble-tempcontrol-range .hubble-tempcontrol-title p{
  font-size: 11px;
  display: inline;
  padding: 0;
}
.hubble-tempcontrol-range p.hubble-tempcontrol-rangetitle-first{
  padding-left: 3pc;
}
.hubble-tempcontrol-range .hubble-tempcontrol-title p:last-child{
  float: right;
}
/*disabled temp control */
.hubble-tempcontrol-range .ui-state-disabled{
  opacity: 1;
}
.hubble-tempcontrol-range .ui-state-disabled .ui-widget-header{
  background-color: #dadada;
}
.hubble-tempcontrol-range .ui-slider-horizontal.ui-state-disabled .ui-slider-handle {
  background: #cdcdcd;
  border: 1px solid #fff;
}

/* settings toggle button */
.hubble-control-toggle {
  position: relative;
  display: inline-block;
  width: 35px;
  height: 20px;
  margin-top: 0px;
}
.hubble-control-toggle input { 
  display:none;
}
.hubble-settings-toggle-button {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 35px;
}
.hubble-settings-toggle-button:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 0px;
  bottom: 0px;
  background-color: #ffffff;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}
input:checked + .hubble-settings-toggle-button {
  background-color: #36b1e5;
}
input:focus + .hubble-settings-toggle-button {
  box-shadow: 0 0 1px #36b1e5;
}
input:checked + .hubble-settings-toggle-button:before {
  -webkit-transform: translateX(15px);
  -ms-transform: translateX(15px);
  transform: translateX(15px);
}
.hubble-control-toggle-label{
  position: relative;
  top: -10px;
  padding: 0 10px;
}

/*motion sensitivity range slider*/
.hubble-setting-radiowrap{
    position: relative;
    margin-bottom: 10px;
    padding: 0 0 0 25px;
    cursor: pointer;
    -moz-user-select: none;
    user-select: none;
    font-weight: 400;
}
.hubble-setting-radio-input {
    position: absolute;
    z-index: -1;
    margin: 0;
    padding: 0;
    opacity: 0;
}
.hubble-setting-radio-label {
    position: absolute;
    top: 50%;
    left: 0;
    display: block;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    -moz-user-select: none;
    user-select: none;
    pointer-events: none;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
    box-shadow: 0 0 0 1px #36b1e5 inset;
    border-radius: 50%;
}
.hubble-setting-radio-input:checked~.hubble-setting-radio-label {
    background-image: url('../img/hubble-icons/hubble-radio-checked.svg');
    background-size: contain;
    background-repeat: no-repeat;
}

.hubble-setting-drop-action{
  float: right;
  padding: 3% 0 0;
  margin-right: 17%;
}


/* responsiveness */
@media (max-width: 767px) and (min-width: 310px) {
  .hubble-mainview-navbar .navbar-collapse{
    clear: both;
  }
  .hubble-mainview-navhead .navbar-toggle{
    margin: 15px 0px 0 0;    
  }
  .hubble-mainview-nav{
    width: 75%;
    float: left;
    margin: 0;
  }
  .hubble-mainview-nav > li{
    top: 18px;
    padding: 0 5px;
    display: inline-block;
  }
  ul li.hubble-mainviewnav-seprator {
    margin: 0px 4px 0 0;
    display: inline;
    top: 17px;
  }
  .hubble-mainview-usernav{
    padding: 5px 0%;
    width: 25%;
    float: right;
    margin: 0;
    text-align: right;
  }
  .hubble-mainview-usernav .dropdown-menu{
    position: relative !important;
    left: -5pc;
  }
}

@media (min-width: 1200px) and (max-width: 1429px) {
  .hubble-mainview-breadhead{
    padding: 25px 14px 20px;
  }
}
@media (min-width: 1430px) and (max-width: 1499px) {
  .hubble-mainview-breadcrumbs {
    margin-top: 50px;
  }
  .hubble-mainview-breadhead{
    padding: 30px 18px 15px;
    min-height: 70px;
  }
  .hubble-mainview-breadhead .hubble-bread-backlink{
    top: -2px;
  }
  .hubble-mainview-breadhead .hubble-bread-backlink img{
    width: 12px;
  }
  .hubble-mainview-breadhead .hubble-bread-title{
    font-size: 24px;
  }
  .hubble-mainview-breadhead .hubble-bread-setting img{
    width: 28px;
  }
}
@media (min-width: 1700px) and (max-width: 1949px) {
  .hubble-mainview-breadhead{
    padding: 25px 35px 20px;
  }
  
}
@media (max-width: 2150px) and (min-width: 1950px){
  .hubble-mainview-breadhead{
    padding: 25px 42px 20px;
  }
}
@media (min-width: 991px) and (max-width: 1199px) {
  .hubble-mainview-breadcrumbs{
    margin-top: 50px;
  }
  .hubble-mainview-breadhead {
    padding: 30px 15px 12px 5px;
    min-height: 60px;
  }
}
@media (min-width: 768px) and (max-width: 990px) {
  .hubble-mainview-breadcrumbs {
    margin-top: 50px;
  }
  .hubble-mainview-breadhead {
    padding: 25px 25px 10px;
    min-height: 60px;
  }
  .hubble-mainview-breadhead .hubble-bread-backlink{
    top: -2px;
  }
  .hubble-mainview-breadhead .hubble-bread-backlink img{
    width: 12px;
  }
  .hubble-mainview-breadhead .hubble-bread-title{
    font-size: 20px;
  }
  .hubble-mainview-breadhead .hubble-bread-setting img{
    width: 25px;
  }
}
@media(max-width: 3900px) and (min-width: 2150px) {
  .hubble-mainview-breadhead{
    padding: 25px 25px 20px 108px;
  }
  .hubble-mainview-settingwrap{
    margin-top: -60px;
    border: none;
    padding: 90px 75px 20px;
  }
   
}
@media (min-width: 991px) and (max-width: 1199px) {
  .hubble-mainview-breadhead .hubble-bread-title{
    width: 55%;
    font-size: 20px;
  }
  .hubble-mainview-breadhead .hubble-bread-backlink{
    top: -2px;
  }
  .hubble-mainview-breadhead .hubble-bread-backlink img{
    width: 12px;
  }
  .hubble-mainview-breadhead .hubble-bread-setting{
    padding-left: 22px;
  }
  .hubble-mainview-breadhead .hubble-bread-setting img{
    width: 25px;
  }
  .hubble-mainview-settingwrap{
    background-size: 100% 100%;
    padding: 40px 15px;
  }
  .hubble-setting-camerawrap{
    padding: 0;
  }
  .hubble-setting-notifywrap{
    padding-left: 0;
  }
}

/* Mobile only NavTabs */
@media (min-width: 991px){
  .hubble-mainview-settingwrap-mobile{
    display: none !important;
  }
}

@media (max-width: 990px) and (min-width: 300px) and (max-height: 440px){
  .hubble-mainview-settingwrap-mobile{
    overflow-y: scroll;
    max-height: 220px;
    padding: 5px 0px 25px !important;
  }  
}
@media (max-width: 990px) and (min-width: 300px) {
  .hubble-mainview-settingwrap{
    display: none;
  }
  .hubble-mainview-settingwrap-mobile{
    background: #F8F8F8;
    margin-top: 0px;
    border: none;
    padding: 5px 0px 10px;
    color: #4a4a4a;
    border-radius: 0;
  }
  .hubble-mainview-breadhead .hubble-bread-title{
    width: 55%;
  }
  .hubble-mainview-settingwrap-mobile .panel-group{
    margin-bottom: 2px;
  }

  .hubble-mainview-settingwrap-mobile .panel-group,
  .hubble-mainview-settingwrap-mobile .panel-group .panel,
  .hubble-mainview-settingwrap-mobile .panel-group .panel-heading,
  .hubble-mainview-settingwrap-mobile .panel-group .panel-heading a,
  .hubble-mainview-settingwrap-mobile .panel-group .panel-title,
  .hubble-mainview-settingwrap-mobile .panel-group .panel-title a,
  .hubble-mainview-settingwrap-mobile .panel-group .panel-body,
  .hubble-mainview-settingwrap-mobile .panel-group .panel-group .panel-heading + .panel-collapse > .panel-body {
    border: 0;
    border-radius: 0px;
  }
  .hubble-mainview-settingwrap-mobile .panel-group .hubble-mobset-parent-title{
    font-size: 14px;
  }
  .hubble-mainview-settingwrap-mobile .panel-group .hubble-mobset-child-title{
    font-size: 14px;
    font-weight: 400;
    display: block;
    padding: 5px 12px;
  }
    /* settings toggle button */
  .hubble-control-toggle {
    margin: 0;
    padding: 0;
    float: right;
    width: 25px;
    height: 15px;
  }
  .hubble-settings-toggle-button:before {
    height: 15px;
    width: 15px;
  }
  input:checked + .hubble-settings-toggle-button:before {
    -webkit-transform: translateX(10px);
    -ms-transform: translateX(10px);
    transform: translateX(10px);
  }
  .hubble-settings-toggle-button{
    background-color: #ccc;
  }
  input:checked + .hubble-settings-toggle-button {
    background-color: #36b1e5;
  }

  .hubble-mainview-settingwrap-mobile .panel-group .panel-heading {
    padding: 0;
  }
  .hubble-mainview-settingwrap-mobile .panel-group .panel-heading.panel-parent a {
    display: block;
    padding: 5px 12px;
    background: #36b1e5;
    color: #ffffff;
    text-decoration: none;
    position: relative;
  }
  .hubble-mainview-settingwrap-mobile .panel-group .panel-heading.panel-parent a.collapsed {
    background: #cdcdcd;
    color: inherit;
  }
  .hubble-mainview-settingwrap-mobile .panel-group .panel-heading.panel-parent a:after {
    content: '-';
    position: absolute;
    right: 20px;
    top:2px;
    font-size:20px;
  }
  .hubble-mainview-settingwrap-mobile .panel-group .panel-heading.panel-parent a.collapsed:after
  {
    content: '+';
  }
  .hubble-mainview-settingwrap-mobile .panel-group .panel-collapse {
    margin-top: 2px;
  }
  .hubble-mainview-settingwrap-mobile .panel-group .panel-body {
    background: #ffffff;
    padding: 5px 15px;
  }
  .hubble-mainview-settingwrap-mobile .panel-group .panel {
    background-color: transparent;
  }
  .hubble-mainview-settingwrap-mobile .panel-group .panel-body p:last-child,
  .hubble-mainview-settingwrap-mobile .panel-group .panel-body ul:last-child,
  .hubble-mainview-settingwrap-mobile .panel-group .panel-body ol:last-child {
    margin-bottom: 0;
  }

  .hubble-setting-divider {
    padding: 0px;
    margin-bottom: 2%;
  }
  .hubble-control-rangewrap, .hubble-volume-range{
    margin: 0px auto;
  }
  .hubble-volume-range{
    padding: 10px 0 10px;
  }
  .hubble-tempcontrol-range{
    padding: 5px 15px 15px;
  }
  .hubble-tempcontrol-range .hubble-tempcontrol-title{
    padding-bottom: 10px;
  }
  .hubble-tempcontrol-range p.hubble-tempcontrol-rangetitle-first {
    padding-left: 4pc;
  }
  .hubble-tempcontrol-range p.hubble-tempcontrol-rangetitle-first + p{
    padding-right: 2pc;
    padding-top: 2px;
  }
  .hubble-setting-radiowrap{
    font-size: 12px;
  }
  .hubble-setting-radio-label{
    width: 18px;
    height: 18px;
  }
  .hubble-setting-timezone-wrap {
    margin-bottom: 5px;
    display: inline-block;
  }
  .hubble-setting-timezone-wrap > li {
    padding: 2px 15px;
  }
  .hubble-setting-timezone-wrap > li .hubble-settimezone-head {
    font-size: 12px;
  }
  .hubble-setting-timezone-wrap > li .hubble-settimezone-country {
    font-size: 10px;
  }
  .hubble-setting-drop-action {
    padding: 0px;
    margin: 0px auto;
  }
  .hubble-setdrop-action-btn {
    font-size: 12px;
    height: 25px;
    border-radius: 5px;
    margin: 0 3px;
  }
  .hubble-setting-playtune-wrap > ul > li.hubble-setplaytune-melody{
    background-size: 20px;
    display: inline-block;
    padding-right: 5px;
  }
  .hubble-setplaytune-icon{
    line-height: 24px;
    padding-left: 24px;
  }
  .hubble-setplaytune-icon p{
    font-size: 12px;
  }
}

/* DatePicker Modal */
.hubble-modal-setimezone-wrap{
  padding: 5% 0 0;
}
.hubble-modal-setimezone-wrap .modal-content{
  text-align: center;
  background: #ffffff;
  border: none;
}
.hubble-modal-setimezone-wrap .modal-dialog{
  width: 41.66666667%;
}
.hubble-modal-setimezone-wrap .modal-header{
  padding: 5px 25px;
  background: #073041;
  color: #ffffff;
  text-align: center;
}
.hubble-modal-setimezone-wrap .modal-header .modal-title{
  font-size: 20px;
}
.hubble-modal-setimezone-wrap .modal-body {
  padding: 10px 35px 10px;
  height: 300px;
}
.hubble-modal-setimezone-wrap .modal-body .hubble-setime-title{
  margin: 10px 0;
  font-size: 20px;
  font-weight: 500;
}

/* filter clips btn*/
.hubble-btn-settimezone {
  position: relative;
  padding: 6px 0 40px;
  font-size: 18px;
  margin: 0px auto;
  float: none;
  display: inline-block;
  border-radius: 5px;
  cursor: pointer;
}
.hubble-btn-settimezone .hubble-btn-settimezone-value {
  padding: 6px 12px;
  left: 0;
  position: absolute;
}

.hubble-btn-settimezone .hubble-btn-settimezone-arrow {
  float: right;
  line-height: 20px;
  padding: 6px 6px;
  top: 0;
  display: none;
}

.hubble-btn-settimezone ul {
  display: none;
  background-color: white;
  color: #000000;  
  list-style: none;
  padding: 0;  
  position: absolute;
  left: 0px;
  right: 0px;
  top: 42px;
  z-index: 999;
}
.hubble-btn-settimezone ul li {
  padding: 10px 0 2px;
  text-align: center;
  color: #000000;
  font-size: 18px;
  cursor: default;
}

.hubble-btn-settimezone.hubble-settime-select {
  background: #d8d8d8;
}
.hubble-btn-settimezone.hubble-settime-select ul li:hover,
.hubble-btn-settimezone.hubble-settime-select ul li:active{
  background-color: #979797;
  border-radius: 0;
}
.hubble-btn-settimezone.hubble-settime-select ul li.selected {
  color: white;
}
.hubble-btn-settimezone.hubble-settime-select ul {
  background: #d8d8d8;
  border-top: 2px solid #9b9b9b;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  overflow-y: auto;
  overflow-x: hidden;
  height: 180px;
}
.hubble-btn-settimezone.hubble-settime-select ul::-webkit-scrollbar-track
{
  border-radius: 5px;
  background-color: transparent;
}

.hubble-btn-settimezone.hubble-settime-select ul::-webkit-scrollbar
{
  width: 5px;
  background-color: transparent;
}

.hubble-btn-settimezone.hubble-settime-select ul::-webkit-scrollbar-thumb
{
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.15);
}
.hubble-btn-settimezone.hubble-settime-select .hubble-btn-settimezone-value {
  border: none;
  color: #000000;
  cursor: pointer;
  width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

/* mobile responsive portrait*/
@media (min-width: 300px) and (max-width: 767px){
  .hubble-btn-settimezone{
    /*max-width: 200px;*/
    margin: 0px 5px 0px;
  }
  .hubble-btn-settimezone .hubble-btn-settimezone-value{
    padding: 6px;
  }
  .hubble-btn-settimezone ul li{
    font-size: 16px;
    right: 15px;
  }
  .hubble-btn-settimezone .hubble-btn-settimezone-arrow {
    line-height: 15px;
    padding: 6px;
  }

  .hubble-modal-setimezone-wrap {
    padding: 18% 0 0;
  }
  .hubble-modal-setimezone-wrap .modal-dialog {
    width: 90%;
    margin-left: 5%;
  }
  .hubble-modal-setimezone-wrap .modal-header {
    padding: 2px 20px;
  }
  .hubble-modal-setimezone-wrap .modal-header .modal-title {
    font-size: 16px;
  }
  .hubble-modal-setimezone-wrap .modal-body {
    padding: 10px 15px 5px;
  }
}
/* mobile responsive portrait*/
@media (min-width: 300px) and (max-width: 767px) and (orientation : landscape){
  .hubble-modal-setimezone-wrap {
    padding: 12% 0 0;
  }
  .hubble-modal-setimezone-wrap .modal-dialog {
    width: 90%;
    margin-left: 5%;
  }
  .hubble-modal-setimezone-wrap .modal-header {
    padding: 2px 20px;
  }
  .hubble-modal-setimezone-wrap .modal-header .modal-title {
    font-size: 16px;
  }
  .hubble-modal-setimezone-wrap .modal-body {
    padding: 10px 15px 5px;
  }
}

/* ipad portrait */
@media (min-width: 768px) and (max-width: 990px) {
  .hubble-modal-setimezone-wrap .modal-dialog{
    width: 75%
  }
  .hubble-modal-setimezone-wrap{
    padding: 15% 0 0;
  }
  .hubble-timeclip-daterange-wrap {
    margin-left: 4%;
  }
}
/* ipad landscape */
@media (min-width: 991px) and (max-width: 1199px) {
  .hubble-modal-setimezone-wrap .modal-dialog{
    width: 58.33333333%
  }
  .hubble-modal-daterange-wrap{
    padding: 10% 0 0;
  }
}

/* laptop */
@media (min-width: 1200px) and (max-width: 1429px) {
  .hubble-modal-setimezone-wrap {
    padding: 8% 0 0;
  }
/*  .hubble-modal-setimezone-wrap .modal-body {
    padding: 10px 20px 5px;
  }*/
  .hubble-timeclip-daterange-wrap{
    margin-left: 2%;    
  }
}
@media (min-width: 1430px) and (max-width: 1499px) {
  .hubble-modal-setimezone-wrap{
    padding: 7% 0 0;
  }
}
@media (min-width: 1500px) and (max-width: 1699px) {
  .hubble-modal-setimezone-wrap{
    padding: 10% 0 0;
  }
}
/* large desktop - 21 inch */
@media (min-width: 1700px) and (max-width: 1949px) {
  .hubble-modal-setimezone-wrap .modal-dialog{
    width: 33.333333%
  }
  .hubble-modal-setimezone-wrap{
    padding: 10% 0 0;
  }
}

/* Full HDTV */
@media (max-width: 2150px) and (min-width: 1950px){
  .hubble-modal-setimezone-wrap .modal-dialog{
    width: 33.333333%
  }
  .hubble-modal-setimezone-wrap{
    padding: 10% 0 0;
  }
}

/* 4k digital screen*/
@media(max-width: 3900px) and (min-width: 2150px) {  
  .hubble-modal-setimezone-wrap .modal-dialog{
    width: 25%
  }
  .hubble-modal-setimezone-wrap{
    padding: 10% 0 0;
  }
}


/* mainview wrap*/
.hubble-mainview-wrap{
  padding-top: 12%;
  padding-bottom: 4%;
  position: relative;
  height: auto;
}
.hubble-mainview-temp{
  font-size: 24px;
  text-align: right;

  color: #4a4a4a;
}
.hubble-mainview-playerwrap {  
  width: 90%; 
  margin: 20px 0;

  -moz-transition: opacity 1s ease, -moz-transform 1s ease;
  -webkit-transition: opacity 1s ease, -webkit-transform 1s ease;
  -ms-transition: opacity 1s ease, -ms-transform 1s ease;
  transition: opacity 1s ease, transform 1s ease;
  
  box-shadow: 0px 0px 32px 4px black;
}

@media (min-width: 768px) and (max-width: 1199px) {
  .hubble-mainview-wrap{
    padding-top: 21%;
  }
}
@media (max-width: 767px) and (min-width: 310px) {
  .hubble-mainview-wrap{
    padding-top: 50%;
  }
  .hubble-mainview-temp{
    font-size: 18px;
  }
}
@media (max-width: 767px) and (min-width: 310px) and (orientation : landscape) {
  .hubble-mainview-wrap{
    padding-top: 28%;
  }
}
@media (max-width: 360px) and (min-width: 300px) and (orientation : portrait) {
  .hubble-mainview-wrap{
    padding-top: 42%;
  }
}
@media (max-width: 500px) and (min-width: 450px) and (orientation : landscape) {
  .hubble-mainview-wrap{
    padding-top: 40%;
  }
}

/* mainview all clips */
.hubble-mainview-allclips-mobile{
  display: none;
}
.hubble-mainview-allclips-laptop{
  display: block;
}

.hubble-mainview-clipswrap{
  position: relative;
  bottom: 0px;
  margin: 0px auto;
  width: 100%;
  min-height: 150px;
  padding: 0px;
  background-color: rgba(0, 0, 0, 0.25);
  color: #ffffff;
  text-align: center;
}
.hubble-mainviewclips-row{
  padding: 0 10px;
  display: inline-block;
  margin: 0px auto;
}
.hubble-mainview-clip-title{
  font-size: 14px;
  text-align: left;
  letter-spacing: 0.5px;
}
.hubble-mainview-clips > li{
  width: auto;
  float: left;
  padding: 10px;
}

.hubble-mainview-clips > li.hubble-mainview-clips-seeall{
  padding: 32px 15px 0;
}
.hubble-mainview-clips > li.hubble-mainview-clips-seeall a{
  border-radius: 0;
  box-shadow: none;
  text-decoration: none;
}
.hubble-mainview-clips > li.hubble-mainview-clips-seeall a h4{
  font-size: 16px;
}
.hubble-mainview-clips > li.hubble-mainview-clips-seeall img{
  transform: rotate(180deg);
}
.hubble-mainview-clips > li > a{
  display:block;
  position:relative;
  color: #fff;
  padding: 0px;
  border-radius:4px
}
.hubble-mainview-clips > li > a:hover{
  box-shadow:0 2px 5px rgba(0,0,0,.3);
  text-decoration:none
}
.hubble-mainview-clips > li:last-child > a:hover{
  box-shadow: none;
  text-decoration: none;
}
.hubble-mainview-clips .hubble-icon-clipplay{
    opacity: 1;
    position: absolute;
    top: 35%;
    left: 40%;
    /*text-shadow: 0 1px 3px rgba(0,0,0,.5);
    transition:all 500ms ease-in-out;*/
}
.hubble-mainview-clips > li > a:hover .hubble-icon-clipplay{
  opacity:0.6;
}

@media (min-width: 300px) and (max-width: 1199px) {
  .hubble-mainview-allclips-laptop{
    display: none;
  }
  .hubble-mainview-allclips-mobile{
    display: block;
  }


  .hubble-mainview-allclips-mobile .carousel-indicators{
    margin-bottom: 0px;
    bottom: 2px;
  }
  .hubble-mainview-clips > li {
    float: none;
    height: 115px;
  }
  .hubble-mainview-clips > li > a{
    display: inline-block;
  }
  .hubble-mainview-clip-title {
    margin: 5px 0;
  }
}

@media (min-width: 768px) and (max-width: 990px) {
  .hubble-mainview-clipswrap{
    position: absolute;
    bottom: 50px;
  }
  .hubble-nav-posfixed {
    position: absolute;
  }
  
}

@media (max-width: 767px) and (min-width: 310px) {
  .hubble-mainview-clip-title{
    text-align: center;
  }
  .hubble-mainview-clips > li.hubble-mainview-clips-seeall h4{
    font-size: 14px;
  }
  .hubble-mainview-clips > li.hubble-mainview-clips-seeall img{
    width: 10px;
  }
}


/* mobile */
@media (min-width: 300px) and (max-width: 767px) {
  /* breadcrumbs */
  .hubble-mainview-breadhead:nth-child(2){
    text-align: right;
    padding-right: 30px;    
  }
  .hubble-mainview-breadhead{
    padding: 7px 5px 5px;
    min-height: 28px;
  }
  .hubble-mainview-breadhead .hubble-bread-backlink{
    margin: 0 2px;
    top: -2px;
  }
  .hubble-mainview-breadhead .hubble-bread-backlink img{
    width: 8px;
  }
  .hubble-mainview-breadhead .hubble-bread-title{
    width: 85%;
    font-size: 16px;
  }
  .hubble-bread-head--edit{
    right: 10px;
    top: 0px;
  }
  .hubble-bread-head--edit img{
    width: 15px;
  }
  .hubble-mainview-breadhead .hubble-bread-setting{
    padding-left: 0;
  }
  .hubble-mainview-breadhead .hubble-bread-setting img{
    width: 20px;
  }
}
