/*signup navbar*/
.hubble-nav-posfixed{
  position: relative;
}
.hubble-navbar-light {
  background-color: #000000;
    filter: alpha(opacity=57);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=57)";
  -webkit-opacity: 0.57;
  -khtml-opacity: 0.57;
  -moz-opacity: 0.57;
  -ms-opacity: 0.57;
  -o-opacity: 0.57;
  opacity: 0.57;
}
.hubble-navbar-dark {
  background-color: #535353;
}

.hubble-navbar-default {
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
  min-height: 55px;
  
  border-color: rgba(34, 34, 34, 0.05);
}
.hubble-navbar-default .navbar-collapse{
  padding: 0 100px;
}
.hubble-navbar-header .navbar-brand {
  text-transform: uppercase;
  
  font-weight: 700;
  color: rgba(255, 255, 255, 0.7);
}
.hubble-navbar-header .navbar-brand:hover,
.hubble-navbar-header .navbar-brand:focus {
  color: #ffffff;
}
.hubble-navbar-header .navbar-toggle {
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  
  color: #4a4a4a;
}
.hubble-nav{
  padding: 0;
}
.hubble-nav > li{
  list-style-type: none;
  top: 18px;
  position: relative;
  padding: 0 5px;
  font-size: 18px;
}

.hubble-nav > li > a,
.hubble-nav > li > a:focus {
  color: #46a8db;
}
.hubble-nav > li > a:hover,
.hubble-nav > li > a:focus:hover {
  color: #ffffff;
  background-color: transparent;

}
.hubble-nav > li.active > a,
.hubble-nav > li.active > a:focus {
  color: #F05F40 !important;
  background-color: transparent;
}
.hubble-nav > li.active > a:hover,
.hubble-nav > li.active > a:focus:hover {
  background-color: transparent;
}

.hubble-nav-footlinks{ 
  font-weight: 800;
}
.hubble-nav-footinfo{
  color: #c2c2c2;
}

ul li.hubble-navitem-seprator {
  margin: 0px 5px;
  padding: 0px;
  border: 1.6px solid;
  height: 35px;
  top: 12px;  
}

/* mobile */
@media (min-width: 300px) and (max-width: 767px) {
  /* foot navbar */
  .hubble-navbar-default {    
    background-color: #ffffff;
    min-height: 40px;
  }
  
  .hubble-nav > li > a,
  .hubble-nav > li > a:focus {
    color: #46a8db;
  }
  .hubble-nav > li > a:hover,
  .hubble-nav > li > a:focus:hover {
    color: #4a4a4a;
  }
  .hubble-nav-footinfo{
    color: #4a4a4a;
  }
  .hubble-navbar-default .navbar-collapse{
    overflow: hidden;
    padding: 0 15px;
  }
  .hubble-nav > li{
    top: 0px; 
    font-size: 15px;
  }
}
@media (min-width: 768px) and (max-width: 990px) {
 
  .hubble-navbar-default .navbar-collapse{
    padding: 0 15px;
  }
}
@media (min-width: 768px) and (max-width: 990px) {
  .hubble-nav-posfixed {
    position: absolute;
  }
}
@media (min-width: 991px) and (max-width: 1199px) {
  .hubble-navbar-default .navbar-collapse {
    padding: 0 20px;
  }
}