/* dashboard.css */

/*mainview.scss*/
.hubble-mainview-bodybg{
  background-image: url('../img/hubble-dashboard-bg.jpg');

  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  object-fit: contain;
  text-shadow: 0px 0px 0px transparent;
}
/*mainview top navbar*/
.hubble-mainview-navbar {
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;

  min-height: 65px;
  padding: 3px 10px;
  z-index: 1050; 
  
  border-color: rgba(34, 34, 34, 0.05);
  background-color: #f1f1f1;
}
.hubble-mainview-navhead .navbar-toggle {
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  
  color: #4a4a4a;
}
.hubble-mainview-nav{
  padding: 0;
}
.hubble-mainview-nav > li{
  list-style-type: none;
  top: 18px;
  position: relative;
  padding: 0 5px;
  font-size: 14px;
}
.hubble-mainview-nav > li > a,
.hubble-mainview-nav > li > a:focus {
  color: #343434;
  padding: 0;
}
.hubble-mainview-nav > li > a:hover,
.hubble-mainview-nav > li > a:focus:hover {
  color: #a9a9a9;
  background-color: transparent;
}
.hubble-mainview-nav > li.active > a,
.hubble-mainview-nav > li.active > a:focus {
  color: #d8d8d8;
  background-color: transparent;
}
.hubble-mainview-nav > li.active > a:hover,
.hubble-mainview-nav > li.active > a:focus:hover {
  background-color: transparent;
}

.hubble-mainview-usernav{
  padding: 10px 15px 0;
}
.hubble-mainview-usernav > li{
  list-style-type: none;
}

/* .hubble-navitem-seprator */
ul li.hubble-mainviewnav-seprator {
  margin: 0px 5px;
  padding: 0px;
  border: 1.6px solid;
  height: 30px;
  top: 13px;  
}

@media (max-width: 767px) and (min-width: 310px) {
  .hubble-mainview-navbar .navbar-collapse{
    clear: both;
  }
  .hubble-mainview-navhead .navbar-toggle{
    margin: 15px 0px 0 0;    
  }
  .hubble-mainview-nav{
    width: 75%;
    float: left;
    margin: 0;
  }
  .hubble-mainview-nav > li{
    top: 18px;
    padding: 0 5px;
    display: inline-block;
  }
  ul li.hubble-mainviewnav-seprator {
    margin: 0px 4px 0 0;
    display: inline;
    top: 17px;
  }
  .hubble-mainview-usernav{
    padding: 5px 0%;
    width: 25%;
    float: right;
    margin: 0;
    text-align: right;
  }
}

/* mainview wrap*/
.hubble-dashboard-wrap{
  padding-top: 6%;
  padding-bottom: 6%;
  position: relative;
  height: auto;
}
.hubble-dashboardwrap-padd{
  padding: 0 10%;
}
.hubble-dashboard-playerwrap {
  -moz-transition: opacity 1s ease, -moz-transform 1s ease;
  -webkit-transition: opacity 1s ease, -webkit-transform 1s ease;
  -ms-transition: opacity 1s ease, -ms-transform 1s ease;
  transition: opacity 1s ease, transform 1s ease;
  /*box-shadow: 0px 0px 20px 2px black;*/
}

.hubble-dash-row {
  padding: 20px
}
.hubble-dashmain-title{
  font-weight: 300;
  font-size: 36px;
  margin-bottom: 0;
  color: #013951;
}
.hubble-dashmain-timingwrap{
  /*margin: -5px 0 0;*/
  color: #013951;
  font-weight: 300;
}
.hubble-dashmain-timingwrap .hubbledashmain-time {
  /*margin-top: 0;*/
  font-size: 30px;
  font-weight: 500;
}
.hubble-dashmain-timingwrap .hubbledashmain-day {
  font-size: 20px;
}
.hubble-dashboard-playerheader{
  width: 100%;
  height: 36px;
  background-color: #073041;
  border-top-right-radius:10px;
  border-top-left-radius:10px;
  white-space: nowrap;
}
.hubble-dashhead-leftwrap{
  padding: 10px 15px;
  color: #ffffff;
  font-size: 14px;
  float: left;
}
.hubble-dashhead-leftwrap .hubble-dashhead-left-title{
  margin-right: 5%;
}

.hubble-dashhead-rightwrap{
  float: right;
  padding: 8px 15px 0;
  font-size: 14px;
  text-align: right;
  color: #ffffff;
}

.hubble-control-toggle {
  position: relative;
  display: inline-block;
  width: 35px;
  height: 20px;
  margin-top: 0px;
}
.hubble-control-toggle-label{
  position: relative;
  top: -10px;
  padding: 0 10px;
  }
.hubble-control-toggle input { 
  display:none;
}
.hubble-settings-toggle-button {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 35px;
}
.hubble-settings-toggle-button:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 0px;
  bottom: 0px;
  background-color: #ffffff;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}
input:checked + .hubble-settings-toggle-button {
  background-color: #36b1e5;
}
input:focus + .hubble-settings-toggle-button {
  box-shadow: 0 0 1px #36b1e5;
}
input:checked + .hubble-settings-toggle-button:before {
  -webkit-transform: translateX(15px);
  -ms-transform: translateX(15px);
  transform: translateX(15px);
}



.hubble-dashplayer-offline-wrap{
  display: inline-block;
  background-color: #4a4a4a;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.hubble-dashplayer-offline-wrap .hubble-dahsoffline-uptext{
  color: #e54b4b;
  font-size: 14px;
  font-weight: 700;
  text-align: right;
  padding: 10px 30px;
  letter-spacing: 1px;
  display: block;
}
.hubble-dashplayer-offline-wrap  .hubble-dashoffline-main{
  position: relative;
  left: 50%;
  transform: translate(-50%,-15%);
  padding: 11% 0;
}
.hubble-dashoffline-main .hubble-dashoffline-msginfo{
  font-size: 14px;
  text-align: center;
  color: #ffffff;
  top: 30px;
  position: relative;
}
.hubble-dashoffline-info{
  position: relative;
  left: 15px;
}
/*.hubble-dashoffline-info{
    background: url('../');
    background-repeat: no-repeat;
    background-position: center center; 
}*/

@media(max-width: 3900px) and (min-width: 2150px) {
  .hubble-dashboardwrap-padd{
    padding: 0 15px;
  }
  .hubble-dashplayer-offline-wrap  .hubble-dashoffline-main{
    padding: 18% 0;
  }
}
@media (min-width: 1700px) and (max-width: 2149px) {
  .hubble-dashplayer-offline-wrap .hubble-dahsoffline-uptext{
    padding: 0px 30px;
  }
  .hubble-control-toggle-label{
    padding: 0 5px;   
  }
}
@media (min-width: 1500px) and (max-width: 1699px) {
  .hubble-dashplayer-offline-wrap .hubble-dahsoffline-uptext{
    padding: 5px 30px;
  }
}
@media (min-width: 991px) and (max-width: 1199px) {
  .hubble-dashboardwrap-padd{
    padding: 0 15px;
  }
  .hubble-dashplayer-offline-wrap  .hubble-dashoffline-main{
    padding: 12% 0;
  }
  .hubble-dashplayer-offline-wrap .hubble-dahsoffline-uptext{
    padding: 15px 30px;
  }
}
@media (min-width: 768px) and (max-width: 990px) {
  .hubble-dashboardwrap-padd{
    padding: 0 15px;
  }
  .hubble-dashboard-wrap {
    padding-top: 10%;
  }
  .hubble-dashhead-rightwrap{
    padding: 8px 5px 0px;
  }
  .hubble-control-toggle-label{
    padding: 0 2px;
  }
  .hubble-dashplayer-offline-wrap  .hubble-dashoffline-main{
    padding: 7% 0;
    transform: translate(-50%,-25%);
  }
}

@media (max-width: 767px) and (min-width: 310px) {
  .hubble-dashboard-wrap {
    padding-top: 18%;
    padding-bottom: 20%;
  }
  .hubble-dashboardwrap-padd{
    padding: 0 15px;
  }
  .hubble-dash-row {
    padding: 10px 10px 0;
  }
  .hubble-dashboard-playerwrap{
    padding: 15px;
  }
  .hubble-control-toggle-label{
    padding: 0 5px;
  }
  .hubble-dashhead-rightwrap {
    padding: 8px 8px 0;
    font-size: 12px;
  }
  .hubble-dashhead-leftwrap {
    padding: 12px 10px 0;
    font-size: 12px;
  }
  .hubble-dashmain-title{
    font-size: 28px;
  }
  .hubble-dashmain-timingwrap{
    margin: 0;
  }
  .hubble-dashmain-timingwrap .hubbledashmain-time{
    font-size: 24px;
    margin: 0;
  }
  .hubble-dashmain-timingwrap .hubbledashmain-day {
    font-size: 14px;
  }
}


/* mobile */
@media (min-width: 300px) and (max-width: 767px) {
  /* breadcrumbs */
  .hubble-mainview-breadhead{
    padding: 10px 5px 10px;
    min-height: 50px;
  }
  .hubble-mainview-breadhead .hubble-bread-backlink{
    margin: 0 5px;
  }
  .hubble-mainview-breadhead .hubble-bread-title{
    width: 85%;
    font-size: 25px;
  }
  .hubble-bread-head--edit{
    right: 10px;
  }
}