/* timeline.css */
.hubble-timeline-bodybg{
  background: #ffffff;

  object-fit: contain;
  text-shadow: 0px 0px 0px transparent;
}

.hubble-timeline-breadcrumbs{
  margin-top: 155px;
  position: fixed;
  width: 100%;
  z-index:1000;
}
.hubble-timeline-breadhead{
		padding: 20px 25px 10px;
	min-height: 70px;
  
  color: #4a4a4a;
  background-color: #d8d8d8;
}
.hubble-timebread-titlepadd{
	padding-left: 6%;
}

.hubble-timeline-breadhead .hubble-timeline-backlink{
  top: -4px;
  position: relative;
  margin: 0 20px;
}

.hubble-timeline-breadhead .hubble-timeline-title{
  display: inline-block;
  font-weight: 500;
  font-size: 20px;
  margin: 0;
  padding-top: 7px;
}
.hubble-timeline-selclips{
  color: #ffffff;
}
.hubble-timeline-selclips:hover,
.hubble-timeline-selclips:focus,
.hubble-timeline-selclips:active,
.hubble-timeline-selclips .btn:hover,
.hubble-timeline-selclips .btn:focus,
.hubble-timeline-selclips .btn:active{
  color: #ffffff;
}
.hubble-timeline-selclips .btn.active {                
  display: none;      
}
.hubble-timeline-selclips .hubble-selclips-primary{
  background: #36b1e5;
}
.hubble-timeline-selclips .hubble-selclips-danger{
  background: #535353;
}


/* timeline-mainwrap */
.hubble-timeline-mainwrap{
	padding-top: 13%;
	padding-bottom: 5%;
	position: relative;
	height: auto;
}
.hubble-timemain-filterwrap{
  padding: 10px 75px;
}
.hubble-timemain-selectclips--action{
	text-align: right;
  padding: 10px 75px;
  visibility: hidden;
}
.hubble-timemain-selectclips--action a{
	margin: 0 10px;
}
.hubble-timemain-filterwrap .hubble-custom-scroll{
	padding-right: 35px;
}

.hubble-filter-caption{
	display: inline;
	float: left;
	font-size: 20px;
	font-weight: 400;
	margin: 0;
	padding: 5px 5px 5px 0px;
}
.hubble-timeclip-daterange{
	cursor: default;
	width: 80%;
  border: none;
  color: #8d8d8d;
}
.hubble-timeclip-daterange input{
	text-align: center;
    border: none;
    color: #8d8d8d;
}
.hubble-timeclip-daterange input,
.hubble-timeclip-daterange input:hover,
.hubble-timeclip-daterange input:focus,
.hubble-timeclip-daterange input:active{
	box-shadow: none;
}
.hubble-timeclip-daterange .input-group-addon{
	background: #fff;
    border: none;
    color: #8d8d8d;
}

/* filter clips btn*/
.hubble-btn-select {
	display: inline-block;
	position: relative;
	padding: 0;
	max-width: 215px;
	border-radius: 5px;
	margin: 0px 10px 10px;
}
.hubble-btn-select .hubble-btn-selectvalue {
	padding: 6px 12px;
	display: block;
	position: absolute;
	left: 0;
	right: 34px;
	text-align: center;
	text-overflow: ellipsis;
	overflow: hidden;
	border-top: none !important;
	border-bottom: none !important;
	border-left: none !important;
	color: white;
}

.hubble-btn-select .hubble-btn-selectarrow {
	float: right;
	line-height: 20px;
	padding: 6px 6px;
	top: 0;
}

.hubble-btn-select ul {
	display: none;
	background-color: white;
	color: black;
	clear: both;
	list-style: none;
	padding: 0;
	margin: 0;
	border-top: none !important;
	position: absolute;
	left: -1px;
	right: -1px;
	top: 0px;
	z-index: 999;
}
.hubble-btn-select ul li {
	padding: 3px 6px;
	text-align: left;
	color: white;
	font-size:20px;
  cursor: default;
}

.hubble-btn-select.hubble-filter-select {
  background: #36b1e5;
}
.hubble-btn-select.hubble-filter-select ul li:hover,
.hubble-btn-select.hubble-filter-select ul li:active{
  background-color: #979797;
  border-radius: 10px;
}
.hubble-btn-select.hubble-filter-select ul li.selected {
  color: white;
}
.hubble-btn-select.hubble-filter-select ul {
  border: none;
  background: #36b1e5;
  border-radius: 10px;
}
.hubble-btn-select.hubble-filter-select .hubble-btn-selectvalue {
  border: none;
  border-radius: 10px;
  color: white;
  cursor: default;
}


.hubble-filter-datetitle
{
	font-weight: 400;
}
.hubble-timemain-clipswrap{
	clear: both;
	padding: 0;
}
.hubble-clips-titlewrap{
  position: relative;
  top: 30px;
  left: 15px;
}
.hubble-timemain-clip {
	margin: 15px 0;
}
.hubble-timemain-clip-link{
  cursor: default;
}
.hubble-timemain-clip-link img{
	width: 100%;
}
.hubble-timemain-clip .hubble-timemain-clipoverlay{
	position: absolute;
    width: 89%;
    z-index: 99;    
    padding: 10px;
    opacity: 0.90;
    mix-blend-mode: normal;
    color: #fff;
    margin: 0px;

    
}
.hubble-timemain-clipoverlay.hubble-timeclip-overlay-top{
	top: 0;
    background-image: linear-gradient(to top, rgba(237, 239, 241, 0.2), rgba(0, 0, 0, 0.8));
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.hubble-timemain-clipoverlay.hubble-timeclip-overlay-bottom{
	bottom: 4px;
    background-image: linear-gradient(to bottom, rgba(237, 239, 241, 0.2), rgba(0, 0, 0, 0.8));
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

/* select clips selected option */


/* clips hover css */
.hubble-timemain-clip .hubble-timemain-clip--hoverwrap{
  position: absolute;
  top: -2px;
  height: 100%;
  width: 90%;
  opacity: 0.7;
  border-radius: 7px;
  z-index: 999;
  background-color: #000000;
  color: #ffffff;
  display: none;
}
.hubble-timemain-clip--hoverwrap .hubble-timeclip-hover-playimg{
	margin: 25% 45% 15%;
}
.hubble-timemain-clip--hoverwrap .hubble-timeclip-hover-action{
	float: right;
    padding: 2px 20px;
}
.hubble-timemain-clip--hoverwrap .hubble-timeclip-hover-action a{
	padding: 0px 5px;
}

.hubble-timecliphover-chkbox{
	display: none;
	position: absolute;
	top: -5px;
  right: 15px;
}

/*.hubble-timecliphover-chkbox .checkbox{
  font-weight: 400;
}
.hubble-timecliphover-chkbox .checkbox input{
  width: 24px;
  height: 24px;
}*/
.hubble-timecliphover-chkbox label .custom-check,
.hubble-timecliphover-chkbox label .custom-check:hover{
    width: 23px;
    height: 23px;
    display: inline-block;
    position: relative;
    z-index: 1;
    background: url("../img/hubble-icons/hubble-unchecked.svg") no-repeat #4a4a4a;
    cursor: pointer;
}
.hubble-timecliphover-chkbox label .custom-check.selected{
    background: url("../img/hubble-icons/hubble-checked.svg") no-repeat #4a4a4a;
}
.hubble-timecliphover-chkbox label .custom-check input[type="checkbox"]{
    margin: 0;
    position: absolute;
    z-index: 2;
    outline: none;
    opacity: 0;
    
    /* CSS hacks for older browsers */
    _noFocusLine: expression(this.hideFocus=true); 
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -khtml-opacity: 0;
    -moz-opacity: 0;
}


/* video modal clips */

.hubble-modal-video-wrap{
  padding: 8% 0 0;
}
.hubble-modal-video-wrap .modal-dialog{
  width: 66.666666%;
}
.hubble-modal-video-wrap .modal-header{
  padding: 10px 25px;
  background: #073041;
  color: #ffffff;
  text-align: left;
  text-transform: uppercase;
}
.hubble-modal-video-wrap .modal-header .hubble-modal-video-head a{
  padding: 0 8px;
}
.hubble-modal-video-wrap .modal-header .hubble-modal-video-head a img{
  width: 27px;
  height: 27px;
}
.hubble-modal-video-wrap .modal-header .hubble-modal-video-head a .hubble-modal-video-close{
  font-size: 58px;
  line-height: 0;
  vertical-align: middle;
  color: #fff;
  position: relative;
  top: 5px;
}
.hubble-modal-video-wrap .modal-body {
  padding: 0;
}
/* DatePicker Modal */
.hubble-modal-daterange-wrap{
  padding: 5% 0 0;
}
.hubble-modal-daterange-wrap .modal-content{
  text-align: center;
  background: #d8d8d8;
  border: none;
}
.hubble-modal-daterange-wrap .modal-dialog{
  width: 41.66666667%;
}
.hubble-modal-daterange-wrap .modal-header{
  padding: 5px 25px;
  background: #073041;
  color: #ffffff;
  text-align: center;
}
.hubble-modal-daterange-wrap .modal-header .modal-title{
  font-size: 20px;
}
.hubble-modal-daterange-wrap .modal-body {
  padding: 15px 25px 5px;
}
.hubble-modal-daterange-wrap .modal-body .hubble-modaldata-info-span,
.hubble-modal-daterange-wrap .modal-body .hubble-modaldata-info-div{
  font-size: 16px;
  color: #000000;
  display: block;
  margin: 0;
  line-height: 22px;
}
.hubble-timeclip-daterange-wrap .ui-datepicker.ui-datepicker-multi{
  background: #fff;
  margin: 0 5px;
}
.hubble-timeclip-daterange-wrap{
  height: 200px;
  overflow-x: auto;
}
.hubble-timeclip-daterange-wrap .ui-datepicker.ui-datepicker-multi table{
  font-size: 14px;
}
.hubble-timeclip-daterange-wrap .ui-datepicker.ui-datepicker-multi .ui-datepicker-prev .ui-icon,
.hubble-timeclip-daterange-wrap .ui-datepicker.ui-datepicker-multi .ui-datepicker-next .ui-icon{
  background: url('../img/hubble-icons/hubble-daterange-arrow.svg');
  background-repeat: no-repeat;
  background-size: 90%;
  margin-top: -5px;
}
.hubble-timeclip-daterange-wrap .ui-datepicker.ui-datepicker-multi .ui-datepicker-prev:hover,
.hubble-timeclip-daterange-wrap .ui-datepicker.ui-datepicker-multi .ui-datepicker-prev:active,
.hubble-timeclip-daterange-wrap .ui-datepicker.ui-datepicker-multi .ui-datepicker-next:hover,
.hubble-timeclip-daterange-wrap .ui-datepicker.ui-datepicker-multi .ui-datepicker-next:active{
  background: transparent;
  border: none;
}
.hubble-timeclip-daterange-wrap .ui-datepicker.ui-datepicker-multi .ui-datepicker-prev .ui-icon{
  transform: rotateY(180deg);
}
.hubble-timeclip-daterange-wrap .ui-state-highlight,
.hubble-timeclip-daterange-wrap .ui-widget-content .ui-datepicker-today .ui-state-highlight, 
.hubble-timeclip-daterange-wrap .ui-widget-header .ui-state-highlight{
  background: #D7D7D7;
  border: none;
}

.hubble-timeclip-daterange-wrap .ui-datepicker .ui-datepicker-header{
  background: #fff;
  border: none;
}
.hubble-timeclip-daterange-wrap .ui-datepicker .dp-highlight .ui-state-default{
  background: #C7ECF6;
  border: none;
}

.hubble-timeclip-daterange-wrap .ui-datepicker th,
.hubble-timeclip-daterange-wrap .ui-datepicker td{
  border: 1px solid #ddd;
  padding: 0px;
}
.hubble-timeclip-daterange-wrap .ui-datepicker td.ui-datepicker-week-end .ui-state-default{
  background: #F2F9FE;
  text-align: center;
}
.hubble-timeclip-daterange-wrap .ui-datepicker td.ui-datepicker-week-end.dp-highlight .ui-state-default{
  background: #BDE6F6;
}
.hubble-timeclip-daterange-wrap .ui-datepicker .ui-state-default{
  background: #fff;
  color: #000;
}



.hubble-modal-daterange-wrap .modal-body .hubble-modaldata-info-div{
  padding: 15px 0;
}

/* mobile responsive portrait*/
@media (min-width: 300px) and (max-width: 767px){
  .hubble-modal-video-wrap {
    padding: 45% 0 0;
  }
  .hubble-modal-video-wrap .modal-dialog {
    width: 93%;
  }
  .hubble-modal-video-wrap .modal-header{
    padding: 5px;
  }
  .hubble-modal-video-wrap .modal-header .hubble-modal-video-head a img {
    width: 16px;
    height: 16px;
  }


  .hubble-modal-daterange-wrap {
    padding: 18% 0 0;
  }
  .hubble-timeclip-daterange-wrap {
    height: 180px;
  }
  .hubble-modal-daterange-wrap .modal-dialog {
    width: 90%;
    margin-left: 5%;
  }
  .hubble-modal-daterange-wrap .modal-header {
    padding: 2px 20px;
  }
  .hubble-modal-daterange-wrap .modal-header .modal-title {
    font-size: 16px;
  }
  .hubble-modal-daterange-wrap .modal-body {
    padding: 10px 15px 5px;
  }
  .hubble-modal-daterange-wrap .modal-body .hubble-modaldata-info-span, 
  .hubble-modal-daterange-wrap .modal-body .hubble-modaldata-info-div {
    font-size: 12px;
    line-height: 14px;
  }
  .hubble-timeclip-daterange-wrap .ui-datepicker.ui-datepicker-multi table {
    font-size: 12px;
  }
}
/* mobile responsive portrait*/
@media (min-width: 300px) and (max-width: 767px) and (orientation : landscape){
  .hubble-modal-video-wrap {
    padding: 12% 0 0;
  }
  .hubble-modal-video-wrap .modal-dialog {
    width: 75%;
    margin-left: 14%;
  }

  .hubble-modal-daterange-wrap {
    padding: 12% 0 0;
  }
  .hubble-timeclip-daterange-wrap {
    height: 190px;
  }
  .hubble-modal-daterange-wrap .modal-dialog {
    width: 90%;
    margin-left: 5%;
  }
  .hubble-modal-daterange-wrap .modal-header {
    padding: 2px 20px;
  }
  .hubble-modal-daterange-wrap .modal-header .modal-title {
    font-size: 16px;
  }
  .hubble-modal-daterange-wrap .modal-body {
    padding: 10px 15px 5px;
  }
  .hubble-modal-daterange-wrap .modal-body .hubble-modaldata-info-span, 
  .hubble-modal-daterange-wrap .modal-body .hubble-modaldata-info-div {
    font-size: 14px;
    line-height: 16px;
  }
  .hubble-timeclip-daterange-wrap .ui-datepicker.ui-datepicker-multi table {
    font-size: 12px;
  }
}

/* ipad portrait */
@media (min-width: 768px) and (max-width: 990px) {
  .hubble-modal-video-wrap {
    padding: 20% 0 0;
  }
  .hubble-modal-video-wrap .modal-dialog {
   width: 90%;
  }
  .hubble-modal-video-wrap .modal-header .hubble-modal-video-head a img {
    width: 22px;
    height: 22px;
  }
  .hubble-modal-daterange-wrap .modal-dialog{
    width: 75%
  }
  .hubble-modal-daterange-wrap{
    padding: 15% 0 0;
  }
  .hubble-timeclip-daterange-wrap {
    margin-left: 4%;
  }
}
/* ipad landscape */
@media (min-width: 991px) and (max-width: 1199px) {
  .hubble-modal-video-wrap {
    padding: 13% 0 0;
  }
  .hubble-modal-video-wrap .modal-dialog {
    width: 75%;
  }
  .hubble-modal-daterange-wrap .modal-dialog{
    width: 58.33333333%
  }
  .hubble-modal-daterange-wrap{
    padding: 10% 0 0;
  }
  .hubble-timeclip-daterange-wrap {
    margin-left: 5%;
  }
}

/* laptop */
@media (min-width: 1200px) and (max-width: 1429px) {
  .hubble-modal-video-wrap{
    padding: 4% 0 0;
  }

  .hubble-modal-daterange-wrap {
    padding: 8% 0 0;
  }
  .hubble-modal-daterange-wrap .modal-body {
    padding: 15px 20px 5px;
  }
  .hubble-timeclip-daterange-wrap{
    margin-left: 2%;    
  }
}
@media (min-width: 1430px) and (max-width: 1499px) {

  .hubble-modal-video-wrap{
    padding: 12% 0 0;
  }

  .hubble-modal-daterange-wrap{
    padding: 7% 0 0;
  }
  .hubble-timeclip-daterange-wrap{
    margin-left: 5%;
  }
}
@media (min-width: 1500px) and (max-width: 1699px) {
  .hubble-modal-daterange-wrap{
    padding: 10% 0 0;
  }
  .hubble-timeclip-daterange-wrap{
    margin-left: 10%;
  }
}
/* large desktop - 21 inch */
@media (min-width: 1700px) and (max-width: 1949px) {
  .hubble-modal-video-wrap{
    padding: 6% 0 0;
  }
  .hubble-modal-video-wrap .modal-dialog{
    width: 75%;
  }
  .hubble-modal-daterange-wrap .modal-dialog{
    width: 33.333333%
  }
  .hubble-modal-daterange-wrap{
    padding: 10% 0 0;
  }
  .hubble-timeclip-daterange-wrap{
    margin-left: 10%;
  }
}

/* Full HDTV */
@media (max-width: 2150px) and (min-width: 1950px){
  .hubble-modal-video-wrap{
    padding: 6% 0 0;
  }
  .hubble-modal-video-wrap .modal-dialog{
    width: 75%;
  }
  .hubble-modal-daterange-wrap .modal-dialog{
    width: 33.333333%
  }
  .hubble-modal-daterange-wrap{
    padding: 10% 0 0;
  }
  .hubble-timeclip-daterange-wrap{
    margin-left: 10%;
  }
}

/* 4k digital screen*/
@media(max-width: 3900px) and (min-width: 2150px) {
  .hubble-timemain-clip--hoverwrap .hubble-timeclip-hover-playimg img{
    width: 100px;
  }
  .hubble-timemain-clip--hoverwrap .hubble-timeclip-hover-action img{
    width: 50px;
  }
  .hubble-modal-video-wrap{
    padding: 8% 0 0;
  }
  .hubble-modal-video-wrap .modal-dialog{
    width: 75%;
  }
  .hubble-modal-daterange-wrap .modal-dialog{
    width: 25%
  }
  .hubble-modal-daterange-wrap{
    padding: 10% 0 0;
  }
  .hubble-timeclip-daterange-wrap {
    margin-left: 24%;
  }
}



/* responsiveness for all screens */

@media (min-width: 300px) and (max-width: 767px) {
  .hubble-timeline-breadcrumbs {
    margin-top: 120px;
  }
  .hubble-timeline-breadhead {
    padding: 5px 0 0;
    min-height: 30px;
  }
  .hubble-timeline-breadhead .hubble-timeline-title {
    display: block;
    font-weight: 500;
    font-size: 14px;
    padding: 5px 0 0;
    text-align: center;
  }
  .hubble-timebread-titlepadd {
    padding-left: 0%;
  }
  .hubble-timeclip-daterange {
    width: 100%;
  }

  .hubble-timeline-mainwrap {
    padding-top: 68%;
  }
  .hubble-timemain-filterwrap {
    padding: 0 10px;
  }
  .hubble-filter-caption {
    font-size: 14px;
    padding: 0px 5px 2px 5px;
    margin: -5px 0 0;
  }
  .hubble-btn-select{
    max-width: 200px;
    margin: 0px 5px 0px;
  }
  .hubble-btn-select .hubble-btn-selectvalue{
    padding: 6px;
  }
  .hubble-btn-select ul li{
    font-size: 16px;
    right: 15px;
  }
  .hubble-btn-select .hubble-btn-selectarrow {
    line-height: 15px;
    padding: 6px;
  }
  .hubble-timemain-selectclips--action {
    text-align: right;
    padding: 10px 10px 2px;
  }
  .hubble-timemain-selectclips--action a{
    margin: 0 5px;
  }
  .hubble-timemain-selectclips--action a img{
    width: 20px;
  }

  .hubble-timemain-filterwrap .hubble-custom-scroll{
    padding-right: 15px;
  }

  .hubble-filter-datetitle {
    margin: 5px 0 0;
    font-size: 14px;
  }
  .hubble-timemain-clip {
    margin: 8px 0;
  }
  .hubble-timemain-clip .hubble-timemain-clip--hoverwrap{
    height: 99%;
    width: 89%;
  }
  .hubble-timemain-clip--hoverwrap .hubble-timeclip-hover-playimg {
    margin: 26% 45% 18%;
  }
  .hubble-timemain-clip .hubble-timemain-clipoverlay {
    font-size: 12px;
    padding: 6px;
    width: 90%;
  }

  .hubble-timecliphover-chkbox label .custom-check,
  .hubble-timecliphover-chkbox label .custom-check:hover{
    width: 16px;
    height: 16px;
  }
  .hubble-timecliphover-chkbox label .custom-check.selected {
    background-position: -4px;
    width: 16px;
    height: 16px;
  }
}
@media (max-width: 767px) and (min-width: 300px) and (orientation : landscape){
  .hubble-mainview-breadhead {
    padding: 5px 5px 5px !important;
    min-height: 30px !important;
    float: left;
  }
  .hubble-mainview-breadhead:nth-child(1){
    width: 75%;
  }
  .hubble-mainview-breadhead:nth-child(2){
    width: 25%;
  }
  .hubble-timeline-breadcrumbs {
    margin-top: 95px;
  }
  .hubble-timeline-breadhead {
    padding: 5px 5px 0;
    min-height: 70px;
    float: left;
  }
  .hubble-timeline-breadhead:nth-child(1){
    width: 75%;
  }
  .hubble-timeline-breadhead:nth-child(2){
    width: 25%;
  }
  .hubble-timeline-breadhead .hubble-timeline-title{
    float: left;
    padding: 0px 0 5px 5%;
  }
  .hubble-timeline-breadhead .hubble-timeclip-col{
    width: 66.666666%;
    display: inline;
    float: left;
  }
  .hubble-timeclip-daterange {
    width: 100%;
  }
  .hubble-timeline-mainwrap {
    padding-top: 35%;
  }  
  .hubble-filter-caption {
    font-size: 14px;
    padding: 7px 0px 2px 5px;
    margin: 0px 0 0;
  }
  .hubble-timemain-selectclips--action {
    padding: 0px 10px 2px;
  }

  .hubble-timemain-clip{
    width: 50%;
    float: left;
  }
  .hubble-timemain-clip .hubble-timemain-clipoverlay{
    width: 88%;
    margin: 0 1px;
  }
  .hubble-timemain-clip--hoverwrap .hubble-timeclip-hover-playimg {
    margin: 24% 45% 12%;
  }
  .hubble-timemain-clip .hubble-timemain-clip--hoverwrap {
    width: 89%;
  }
  .hubble-timemain-clip--hoverwrap .hubble-timeclip-hover-action {
    padding: 2px 10px;
  }
}
@media (min-width: 768px) and (max-width: 990px) {
  .hubble-timeline-breadcrumbs {
    margin-top: 100px;
  }
  .hubble-timeline-breadhead {
    padding: 18px 20px 8px;
    min-height: 60px;
  }
  .hubble-timeline-breadhead .hubble-timeline-title{
    font-size: 14px;
    text-align: right;
    padding: 10px 0 0;
  }
  .hubble-timebread-titlepadd {
    padding-left: 0%;
  }
  .hubble-timeline-breadcrumbs .hubble-timeline-breadhead .col-sm-6{
    width: 75%;
  }
  .hubble-timeline-selclips-link .btn{
    padding: 5px;
  }
  .hubble-timeline-mainwrap{
    padding-top: 21%;
  }

  .hubble-timemain-filterwrap,.hubble-timemain-selectclips--action {
    padding: 5px 45px;
  }
  .hubble-filter-caption{
    font-size: 16px;
  }
  .hubble-timemain-selectclips--action img{
    width: 25px;
  }

  .hubble-filter-datetitle{
    font-size: 16px;
    margin: 0;
  }
  .hubble-timemain-clip .hubble-timemain-clipoverlay{
    width: 91%;
  }
  .hubble-timemain-clip .hubble-timemain-clip--hoverwrap{
    height: 98%;
    width: 90%;
  }
  .hubble-timemain-clip--hoverwrap .hubble-timeclip-hover-playimg{
    margin: 20% 45% 12%;
  }
  .hubble-timemain-clip--hoverwrap .hubble-timeclip-hover-playimg img{
    width: 50px;
  }
  .hubble-timeclip-hover-action img{
    width: 25px;
  }
}
@media (min-width: 991px) and (max-width: 1199px) {
  .hubble-timeline-breadcrumbs{
    margin-top: 110px;
  }
  .hubble-timeline-breadhead {
    padding: 20px 25px 10px;
    min-height: 65px;
  }
  .hubble-timeline-breadhead .hubble-timeline-title{
    font-size: 16px;
  }
  .hubble-timebread-titlepadd{
    padding-left: 5%;
  }
  .hubble-timeclip-daterange{
    width: 90%;
  }
  .hubble-timemain-clip .hubble-timemain-clip--hoverwrap{
    width: 86%;
  }
  .hubble-timemain-clip--hoverwrap .hubble-timeclip-hover-playimg {
    margin: 23% 40% 8%;
  }

  .hubble-timeline-mainwrap{
    padding-top: 12%;
  }
  .hubble-timemain-filterwrap,
  .hubble-timemain-selectclips--action {
        padding: 10px 60px 0;
  }
  .hubble-btn-select{
    margin: 0px 10px 0px;
  } 
  .hubble-timemain-clip .hubble-timemain-clipoverlay  {
    width: 85%;
    padding: 5px;
    font-size: 12px;
  }
  .hubble-timecliphover-chkbox {
    top: -8px;
    right: 10px;
  }
  .hubble-timecliphover-chkbox label .custom-check,
  .hubble-timecliphover-chkbox label .custom-check:hover{
    width: 16px;
    height: 16px;
  }
  .hubble-timecliphover-chkbox label .custom-check.selected {
    background-position: -4px;
    width: 16px;
    height: 16px;
  }
}
@media (min-width: 1200px) and (max-width: 1429px) {
  .hubble-timeline-mainwrap {
    padding-top: 18%;
  }
  .hubble-timemain-filterwrap,
  .hubble-timemain-selectclips--action {
    padding: 10px 75px 0;
  }
  .hubble-btn-select{
    margin: 0px 10px 0px;
  }
  .hubble-timeline-breadhead{
    padding: 20px 14px 10px;
  }
}
@media (min-width: 1430px) and (max-width: 1499px) {
  .hubble-timeline-mainwrap {
    padding-top: 13%;
  }
  .hubble-timemain-filterwrap,
  .hubble-timemain-selectclips--action {
    padding: 10px 75px 0;
  }
  .hubble-timemain-clip .hubble-timemain-clipoverlay,
  .hubble-timemain-clip .hubble-timemain-clip--hoverwrap{
    width: 90%;
  }
  .hubble-btn-select{
    margin: 0px 10px 0px;
  }
  .hubble-timeline-breadhead{
    padding: 25px 18px 10px;
  }
  .hubble-timeline-breadcrumbs{
    margin-top: 110px;
  }
  .hubble-timebread-titlepadd {
    padding-left: 5.5%;
  }
}
@media (min-width: 1700px) and (max-width: 1949px) {
  .hubble-timeline-breadhead{
    padding: 20px 35px 10px;
  }
  .hubble-timeline-mainwrap {
    padding-top: 12%;
  }
}
@media (max-width: 2150px) and (min-width: 1950px){
  .hubble-timeline-breadhead{
        padding: 18px 42px 15px;
  }
  .hubble-timeline-mainwrap {
    padding-top: 11%;
  }
  .hubble-timemain-filterwrap,
  .hubble-timemain-selectclips--action {
    padding: 10px 75px 0;
  }
  .hubble-btn-select{
    margin: 0px 10px 0px;
  }
}


@media (min-width: 991px) and (max-width: 1199px) {
  
}

@media (min-width: 1500px) and (max-width: 1699px) {
  .hubble-timeline-mainwrap {
    padding-top: 15%;
  }
  .hubble-timemain-filterwrap,
  .hubble-timemain-selectclips--action {
    padding: 10px 75px 0;
  }
  .hubble-btn-select{
    margin: 0px 10px 0px;
  }  
  .hubble-timemain-clip .hubble-timemain-clipoverlay,
  .hubble-timemain-clip .hubble-timemain-clip--hoverwrap{
    width: 91%;
  }
  .hubble-timemain-clip--hoverwrap .hubble-timeclip-hover-playimg{
    margin: 25% 45% 20%;
  }
  .hubble-timebread-titlepadd {
    padding-left: 4%;
  }
}
@media (min-width: 1700px) and (max-width: 2150px) {
  .hubble-timemain-clip .hubble-timemain-clipoverlay,
  .hubble-timemain-clip .hubble-timemain-clip--hoverwrap{
    width: 92.5%;
  }
  .hubble-timemain-clip--hoverwrap .hubble-timeclip-hover-playimg img{
    width: 50px;
  }
  .hubble-timemain-clip--hoverwrap .hubble-timeclip-hover-action a img{
    width: 20px;
  }
  .hubble-timebread-titlepadd {
    padding-left: 2.7%;
  }
}

/* 4k digital screen*/
@media(max-width: 3900px) and (min-width: 2150px) {
  .hubble-timeline-mainwrap {
    padding-top: 7%;
  }
  .hubble-timemain-clip .hubble-timemain-clipoverlay,
  .hubble-timemain-clip .hubble-timemain-clip--hoverwrap{
    width: 96%;
  }
}