/*mainview-breadcrumb*/
.hubble-font-opensans{
	font-family: 'Open Sans', sans-serif;
}
.hubble-profile-breadcrumbs{
  margin-top: 65px;
  position: fixed;
  width: 100%;
  z-index:1030;

  color: #ffffff;
  background-color: #073041;
}
.hubble-profile-container {
    padding: 0 5%;
}
.hubble-profile-breadhead{
  padding: 30px 0px 10px;
  min-height: 90px;
}
.hubble-profile-breadhead .hubble-bread-backlink{
  top: -4px;
  position: relative;
  margin: 0 20px 0 10px;
}
.hubble-profile-breadhead .hubble-bread-title{
  display: inline-block;
  width: 60%;
  font-weight: 500;
  font-size: 28px;
  margin: 0;
}

/* profile main page */
.hubble-profile-mainwrap{
	padding-top: 12%;
	padding-bottom: 4%;
	position: relative;
	height: auto;
}
.hubble-profile-headtitle{
	font-size: 24px;	
  	font-weight: 600;
	margin: 0;
	text-transform: uppercase;
}
.hubble-profile-head-signout{
	font-size: 20px;
	font-weight: 400;
}
.hubble-profile-row{
	padding-bottom: 20px; 
}
.hubble-profile-image{
	padding-top: 5px;
}
.hubble-profile-image img{
	border: 5px solid rgba(164, 162, 162, 0.25);
    border-radius: 50%;
}
.hubble-profile-data-row{
	padding: 10px 0;
}
.hubble-profile-data{
	padding-top: 10px;
}
.hubble-profile-data h3{
	padding: 0 5px;
	display: inline-block;
    float: left;
    margin: 0;
    font-size: 24px;
    font-weight: 400;
}
.hubble-profile-data .hubble-profile-dataname{
	width:33.3333%;	
}
.hubble-profile-data .hubble-profile-datavalue{
	width:66.6666%;
	color: #46a8db;
	float: left;
}
.hubble-profile-datavalue h3{
	padding-right: 30px;
}
.hubble-profile-data .hubble-profile-data-bold{
	font-weight: 600;
}
.hubble-profile-data--edit{
	position: relative;
	top: 4px;
}
.hubble-data-password{
	font-size: 20px;
}
.hubble-profile-hr{
	margin: 20px 0 40px;
}



.hubble-storage-data{
	padding: 25px 15px;
}
.hubble-storage-info{
	font-size: 20px;
	padding: 5px 0;
}
.hubble-storage-clip {
	margin: 15px 0;
}
.hubble-storage-clip-link{
  cursor: default;
}
.hubble-storage-clip-link img{
	width: 100%;
}
.hubble-storage-clip .hubble-storage-clipoverlay{
	position: absolute;
    width: 88%;
    z-index: 99;    
    padding: 5px;
    opacity: 0.90;
    mix-blend-mode: normal;
    color: #fff;
    margin: 0px;    
}
.hubble-storage-clipoverlay.hubble-storage-overlay-top{	
    font-size: 14px;
	top: 0;
    background-image: linear-gradient(to top, rgba(237, 239, 241, 0.2), rgba(0, 0, 0, 0.8));
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.hubble-storage-clipoverlay.hubble-storage-overlay-bottom{
    font-size: 12px;
	bottom: 4px;
    background-image: linear-gradient(to bottom, rgba(237, 239, 241, 0.2), rgba(0, 0, 0, 0.8));
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.hubble-storage-clip .hubble-storage-clip--hoverwrap{
	position: absolute;
	top: -2px;
	height: 100%;
	width: 88%;
  	border-radius: 7px;
  	z-index: 99;
  	background-color: #565656;
  	color: #ffffff;
  	display: none;
}
.hubble-storage-clip--hoverwrap .hubble-storage-hover-playimg{
	margin: 25% 45% 15%;
}
.hubble-storage-clip--hoverwrap .hubble-storage-hover-action{
	float: right;
    padding: 2px 20px;
}
.hubble-storage-clip--hoverwrap .hubble-storage-hover-action a{
	padding: 0px 5px;
}


.hubble-storageclip-rightwrap{
    float: right;
    padding: 0px;
    color: #ffffff;
}

.hubble-control-toggle {
	position: relative;
	display: inline-block;
	width: 20px;
	height: 13px;
	margin-top: 0px;
	margin-bottom: -2px;
}
.hubble-control-toggle input { 
	display:none;
}
.hubble-settings-toggle-button {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
	border-radius: 35px;
}
.hubble-settings-toggle-button:before {
	position: absolute;
	content: "";
	height: 13px;
	width: 13px;
	left: 0px;
	bottom: 0px;
	background-color: #ffffff;
	-webkit-transition: .4s;
	transition: .4s;
	border-radius: 50%;
}
input:checked + .hubble-settings-toggle-button {
  background-color: #36b1e5;
}
input:focus + .hubble-settings-toggle-button {
  box-shadow: 0 0 1px #36b1e5;
}
input:checked + .hubble-settings-toggle-button:before {
  -webkit-transform: translateX(8px);
  -ms-transform: translateX(8px);
  transform: translateX(8px);
}

.hubble-profilebill-headtitle{
	font-size: 24px;	
  	font-weight: 600;
	margin: 0;
	text-transform: uppercase;
	float: left;
	padding-right: 35px;
}


/* subscription page */
.hubble-subscription-headtitle{
	font-size: 28px;
    font-weight: 600;
    margin: 0;
}
.hubble-subcription-notewrap p,.hubble-subcription-notewrap ol li{
	font-size: 18px;
	color: #9b9b9b;
	line-height: 20px;
}
.hubble-subscribe-padbot{
	padding-bottom: 15px;
}
.hubble-subscribe-nomargin{
	margin: 0;
}
.hubble-subscribe-list{
	padding: 0 20px;
}
.hubble-subscribe-paramargin{
	padding: 10px 0; 
}


.hubble-subscription-boxwrap{
	padding: 10px 20px;
}
.hubble-subscribebox-panel{
	border-color: rgba(0, 0, 0, 0.5);
	border-radius: 15px;
}
.hubble-subscribebox-panel>.panel-heading{
	background-color: #003442;
    border-color: #003442;
    color: #ffffff;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.hubble-subscribebox-panel>.panel-heading h3{
	margin: 0;
	font-size: 28px;	
    font-weight: 400;
    text-transform: uppercase;
}
.hubble-subscribebox-panel>.panel-body{
	padding: 25px 15px;  
	height: 285px;
}
.hubble-subscribebox-panel .hubble-panbody-topinfo{
	font-size: 18px;
	font-weight: 400;
	text-align: left;
	color: #000000; 
}
.hubble-subscribebox-panel .hubble-panbody-amount{
	display: block;
	margin-top: 30px;
	color: #000000;
}
.hubble-subscribebox-panel .hubble-panbody-amount .hubble-panbody-currency-dollar{
	font-size: 24px;
	padding: 0 5px;
}
.hubble-subscribebox-panel .hubble-panbody-amount .hubble-panbody-currency-usd{
	font-size: 12px;
	padding: 0 5px;
    position: relative;
    top: -1px;
}
.hubble-subscribebox-panel .hubble-panbody-amount .hubble-panbody-amount-value{
	display: inline-block;
	font-size: 48px;
	font-weight: 400;
	margin: 0;
}
.hubble-subscribebox-panel .hubble-panbody-amount-inrinfo{
	color: #555555;
	margin: 10px 0;
}
.hubble-subscribebox-panel .hubble-panbody-permonth{
	color: #000000;
	font-weight: 700;
	margin: 15px 0 20px;
}
.hubble-subscribebox-panel .hubble-panbody-addcaminfo{
	color: #4869aa;
	font-weight: 400;
}
.hubble-subscribebox-panel>.panel-footer{
	padding: 0;
	border: none;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
}
.hubble-subscribebox-panel>.panel-footer .hubble-panfoot-btn{
	font-size: 20px;
    padding: 10px;
    border-radius: 0;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #003442;
    border-color: #003442;
    width: 100%;
    color: #ffffff;
}


.hubble-subscribebox-panel-selected>.panel-heading{
	background-color: #00B0E0;
    border-color: #00B0E0;
    color: #ffffff;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.hubble-subscribebox-panel-selected>.panel-heading h3{
	color: #000000;
}
.hubble-subscribebox-panel-selected>.panel-footer .hubble-panfoot-btn{
    background-color: #00B0E0;
    border-color: #00B0E0;
    color: #000000;
}


/* billing page */
.hubble-billing-headtitle{
	font-size: 28px;
    font-weight: 400;
    margin: 0;
}
.hubble-font-semibold{
    font-weight: 600;
}
.hubble-billing-planbox{
	padding: 10% 20px;
}
.hubble-billing-secureinfo-wrap{
	border-radius: 20px;
  	padding: 10px 40px;
  	background-color: #464646;
  	color: #ffffff;
  	margin-bottom: 15px;
}
.hubble-billing-secureinfo-wrap p{	
  	font-size: 18px;
  	padding: 10px 0;
  	margin: 0; 
}
.hubble-billing-secureinfo-wrap .hubble-billing-secureinfo-img{
	padding-right: 10px;
    vertical-align: sub;
}	
.hubble-billing-verticalruler{
	border-left: 1px solid #9b9b9b;
	padding-left: 40px;
	padding-bottom: 25px;
}
.hubble-billing-infotitle{
	font-size: 20px;	
  	font-weight: 600;
	margin: 8px 0 0;
	text-transform: uppercase;
}

.hubble-billing-mainform .hubble-billing-formwrap{
    padding: 20px 0 5px;
    color: #4a4a4a;
    font-size: 18px;
    font-weight: 400;
}
.hubble-billing-mainform .hubble-billing-formwrap label{
    padding: 7px 15px 0px 0px;
    text-align: right;
    font-weight: 400;
}
.hubble-billing-formwrap .hubble-billform-inputhalf:last-child {
    padding-left: 5px;
}
.hubble-billing-formwrap input,
.hubble-billing-formwrap select{
	height: 40px;
    border-radius: 6px;
    padding: 5px 10px;
    border: solid 1px #979797;
    box-shadow: none;
}
.hubble-billing-formwrap select{
	-webkit-appearance: none;
	-moz-appearance:    none;
	appearance:         none;

	background-image: url('../img/hubble-icons/hubble-selectdrop.svg');
	background-repeat: no-repeat; 
	background-position: 98% 50%;
	background-size: 9px;
	box-shadow: none;
	
}
.hubble-billing-formwrap input:focus,
.hubble-billing-formwrap select:focus{
	border-color: #979797;
    box-shadow: none;
}
.hubble-billing-formwrap .hubble-billform-inputjoin-first{
	padding-right: 0;
}
.hubble-billing-formwrap .hubble-billform-inputjoin-first input{
    border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}
.hubble-billing-formwrap .hubble-billform-inputjoin-last{
	padding-left: 0;
}
.hubble-billing-formwrap .hubble-billform-inputjoin-last input{
    border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}
.hubble-billing-formwrap .hubble-billform-cvvhelp{
	background: none;
    border: none;
    padding: 12px 0;
}
.hubble-billing-formwrap .hubble-billform-cvvhelp .tooltip{
    width: 200px;
    margin-top: 10px;
}

.hubble-billing-addresstitle{
	font-size: 20px;	
  	font-weight: 600;
    margin: 5px 0 20px;
	text-transform: uppercase;
}
.hubble-billform-btn{
	width: 100%;
    color: #fff;
    background-color: #4a90e2;
    border-radius: 6px;
    font-size: 18px;
    padding: 4px;
}

/* responsiveness */
/* mobile portrait */
@media (min-width: 300px) and (max-width: 767px) {
	/* profile responsiveness*/
	.hubble-profile-breadhead {
	    padding: 10px 0px 10px;
	    min-height: 40px;
	}
	.hubble-profile-breadhead .hubble-bread-backlink {
	    top: -2px;
	}
	.hubble-profile-breadhead .hubble-bread-backlink img{
		width: 10px;
	}
	.hubble-profile-breadhead .hubble-bread-title{
		width: 80%;
		font-size: 18px;
	}

	.hubble-profile-mainwrap {
	    padding-top: 34%;
	    padding-bottom: 20%;
	}
	.hubble-profile-row {
	    padding-bottom: 10px;
	}
	.hubble-profile-data {
	    padding: 10px 5px 0;
	}
	.hubble-profile-headtitle {
	    font-size: 20px;
	    margin: 0 0 0px;
	    padding: 0 0px;
	}
	.hubble-profile-head-signout {
	    font-size: 16px;
	    float: right;
	}
	.hubble-profile-head-signout img{
		width: 22px;
	}
	.hubble-profile-image{
		text-align: center;
	}
	.hubble-profile-data-row {
	    padding: 5px 0;
	}
	.hubble-profile-data h3{
		font-size: 16px;
		padding-right: 10px;
	}
	.hubble-profile-data .hubble-profile-dataname {
	    width: 25%;
	}
	.hubble-profile-data .hubble-profile-datavalue {
	    width: 75%;
	}
	.hubble-profile-data--edit {
	    top: 0px;
	}
	.hubble-profile-data--edit img{
		width: 12px;
	}
	.hubble-data-password {
	    font-size: 14px;
	}
	.hubble-profile-hr {
	    margin: 10px 0;
	}
	.hubble-storage-data {
	    padding: 5px 15px;
	}
	.hubble-storage-info {
	    font-size: 16px;
	    padding: 5px 0;
	}
	.hubble-storage-clip .hubble-storage-clipoverlay,
	.hubble-storage-clip .hubble-storage-clip--hoverwrap{
		width: 91%;
	}
	.hubble-profilebill-headtitle{
		font-size: 20px;
		padding-right: 15px;
	}

	/* subscription responsiveness*/
	.hubble-subscription-headtitle {
	    font-size: 18px;
	}
	.hubble-subscribebox-panel>.panel-heading{
		padding: 5px;
	}
	.hubble-subscribebox-panel>.panel-heading h3 {
	    font-size: 22px;
	}
	.hubble-subscribebox-panel>.panel-body {
	    padding: 10px 15px;
	    height: 220px;
	}
	.hubble-subscribebox-panel .hubble-panbody-topinfo {
	    font-size: 16px;
	}
	.hubble-subscribebox-panel .hubble-panbody-amount{
		margin-top: 15px;
	}
	.hubble-subscribebox-panel .hubble-panbody-amount .hubble-panbody-currency-dollar {
	    font-size: 18px;
	}
	.hubble-subscribebox-panel .hubble-panbody-amount .hubble-panbody-amount-value{
		font-size: 32px;
	}
	.hubble-subscribebox-panel .hubble-panbody-amount .hubble-panbody-currency-usd{
		font-size: 10px;
	}
	.hubble-subscribebox-panel .hubble-panbody-amount-inrinfo{
		margin: 5px 0;
	}
	.hubble-subscribebox-panel .hubble-panbody-permonth{
		margin: 10px 0 10px;	
	}
	.hubble-subscribebox-panel>.panel-footer .hubble-panfoot-btn{
	    font-size: 16px;
	    padding: 5px;	
	}
	.hubble-subcription-notewrap p, .hubble-subcription-notewrap ol li {
	    font-size: 14px;
	    line-height: 20px;
	}

	/* billing page responsiveness*/
	.hubble-billing-verticalruler {
	    padding: 20px 15px 0;
	    border-left: none;
	    border-top: 1px solid #9b9b9b;
	    margin-top: 15px;
	}
	.hubble-billing-headtitle {
		font-size: 16px;
	    margin: 10px 0 0;
	}		
	.hubble-billing-infotitle{
	    margin: 0px;
	    font-size: 16px;
	}
	.hubble-billing-secureinfo-wrap{
		padding: 5px 25px;
		margin-bottom: 10px;
	}
	.hubble-billing-secureinfo-wrap p {
	    font-size: 14px;
	    padding: 5px 0;
	}
	.hubble-billing-mainform .hubble-billing-formwrap .form-group{
		margin-bottom: 5px;
	} 
	.hubble-billing-mainform .hubble-billing-formwrap{
		font-size: 15px;
	}
	.hubble-billing-addresstitle{
		margin: 0px 0px 15px;
	    font-size: 16px;
	}
	.hubble-billing-mainform .hubble-billing-formwrap label{
		padding: 5px 15px;
		text-align: left;
	}
	.hubble-billform-btn{
		font-size: 16px;
		margin-top: 15px;
	}
	.hubble-billing-planbox {
	    padding: 5% 0px;
	}
	.hubble-subscribebox-panel-selected>.panel-heading{
		padding: 5px;
	}
	.hubble-subscribebox-panel>.panel-heading h3{
	    font-size: 22px;	
	}

	.hubble-subscribebox-panel>.panel-body {
	    padding: 10px 10px;
	    height: 200px;
	}
	.hubble-subscribebox-panel .hubble-panbody-topinfo{
		font-size: 14px;
	}
	.hubble-subscribebox-panel .hubble-panbody-amount{
		margin-top: 15px;
	}
	.hubble-subscribebox-panel .hubble-panbody-amount .hubble-panbody-currency-dollar {
		font-size: 18px;
	}
	.hubble-subscribebox-panel .hubble-panbody-amount .hubble-panbody-amount-value {
	    font-size: 36px;
	}
	.hubble-subscribebox-panel .hubble-panbody-amount-inrinfo{
		margin: 5px 0;
	}
	.hubble-subscribebox-panel .hubble-panbody-permonth{
		margin: 10px 0 10px;
	}
	.hubble-subscribebox-panel>.panel-footer .hubble-panfoot-btn{
		font-size: 16px;
		padding: 5px;
	}

}
/* ipad portrait */
@media (max-width: 767px) and (min-width: 300px) and (orientation : landscape){
	.hubble-profile-mainwrap {
	    padding-top: 24%;
	    padding-bottom: 12%;
	}
	.hubble-storage-clip .hubble-storage-clipoverlay,
	.hubble-storage-clip .hubble-storage-clip--hoverwrap{
		width: 94%;
	}
	.hubble-storage-clipoverlay.hubble-storage-overlay-bottom{
		bottom: 10px;
	}
}
/* ipad portrait */
@media (min-width: 768px) and (max-width: 990px) {
	.hubble-profile-breadhead .hubble-bread-title{
		width: 80%;
	}

	.hubble-profile-breadhead {
		padding: 15px 0px 10px;
		min-height: 60px;
	}
	.hubble-profile-breadhead .hubble-bread-title{
		font-size: 24px;
	}
	.hubble-profile-mainwrap {
	    padding-top: 19%;
	    padding-bottom: 12%;
	}
	.hubble-profile-headtitle{
		font-size: 22px;
	}
	.hubble-profile-head-signout{
		font-size: 18px;
	}
	.hubble-profile-row{
		padding-bottom: 10px;
	}
	.hubble-profile-image{
		width: 25%;
	}
	.hubble-profile-data{
		width: 75%;
	}
	.hubble-profile-data-row{
		padding: 5px 0;
	}
	.hubble-profile-data{
		padding-top: 25px;
	}
	.hubble-profile-data h3{
		font-size: 18px;
	}
	.hubble-profile-data .hubble-profile-dataname{
		width: 41.66666667%;
	}
	.hubble-profile-data .hubble-profile-datavalue{
		width: 58.33333333%;
	}
	.hubble-profile-data--edit{
		position: relative;
		top: -1px;
	}
	.hubble-data-password{
		font-size: 16px;
	}
	.hubble-profile-hr{
		margin: 15px 0 25px;
	}

	.hubble-storage-data{
		padding: 10px 15px;
	}
	.hubble-storage-info{
		font-size: 16px;
		padding: 5px 0;
	}
	.hubble-storage-clip .hubble-storage-clipoverlay,
	.hubble-storage-clip .hubble-storage-clip--hoverwrap{
		width: 91%;
	}
	
	.hubble-profilebill-headtitle{
		font-size: 22px;
	}

	/* subscription responsiveness*/
	.hubble-subscription-headtitle {
	    font-size: 24px;	
	}
	.hubble-subscribebox-panel{
		width: 70%;
    	margin: 0px auto;
	}

	/* billing page responsiveness*/
	.hubble-billing-verticalruler{
		padding-bottom: 25px;
	}
	.hubble-billing-headtitle {
	    font-size: 18px;
	}		
	.hubble-billing-infotitle{
	    margin: 0px;
	    font-size: 16px;
	}
	.hubble-billing-secureinfo-wrap{
		padding: 10px 10px;
		margin-bottom: 10px;
	}
	.hubble-billing-secureinfo-wrap p {
	    font-size: 14px;
	    padding: 5px 0;
	}
	.hubble-billing-mainform .hubble-billing-formwrap{
		font-size: 15px;
	}
	.hubble-billing-addresstitle{
		margin: 0px 0px 15px;
	    font-size: 16px;
	}
	.hubble-billing-mainform .hubble-billing-formwrap label{
		padding: 7px 2px 0px 0px;
	}
	.hubble-billform-btn{
		font-size: 16px;
	}
	.hubble-billing-planbox {
	    padding: 5% 0px;
	    width: 100%;
	    margin-left: -4%;
	}
	.hubble-subscribebox-panel>.panel-heading h3{
	    font-size: 22px;	
	}
	.hubble-subscribebox-panel>.panel-body {
	    padding: 10px 10px;
	    height: 200px;
	}
	.hubble-subscribebox-panel .hubble-panbody-topinfo{
		font-size: 14px;
	}
	.hubble-subscribebox-panel .hubble-panbody-amount{
		margin-top: 15px;
	}
	.hubble-subscribebox-panel .hubble-panbody-amount .hubble-panbody-currency-dollar {
		font-size: 18px;
	}
	.hubble-subscribebox-panel .hubble-panbody-amount .hubble-panbody-amount-value {
	    font-size: 36px;
	}
	.hubble-subscribebox-panel .hubble-panbody-amount-inrinfo{
		margin: 5px 0;
	}
	.hubble-subscribebox-panel .hubble-panbody-permonth{
		margin: 10px 0 10px;
	}
	.hubble-subscribebox-panel>.panel-footer .hubble-panfoot-btn{
		font-size: 16px;
	}

}
/* ipad landscape */
@media (min-width: 991px) and (max-width: 1199px) {
	.hubble-storage-clip .hubble-storage-clipoverlay,
	.hubble-storage-clip .hubble-storage-clip--hoverwrap{
		width: 86%;
	}
	.hubble-profile-breadhead .hubble-bread-title{
		width: 80%;
	}

	.hubble-profile-breadhead {
		padding: 15px 0px 10px;
		min-height: 60px;
	}
	.hubble-profile-breadhead .hubble-bread-title{
		font-size: 24px;
	}
	.hubble-profile-mainwrap {
	    padding-top: 18%;
	}

	.hubble-subscribebox-panel>.panel-body {
	    height: 320px;
	}

	/*billing page responsiveness*/
	.hubble-billing-verticalruler{
		padding-bottom: 100px;
	}
	.hubble-billing-headtitle {
	    font-size: 24px;
	}		
	.hubble-billing-infotitle{
	    margin: 5px 0 0;
	}
	.hubble-billing-secureinfo-wrap{
		padding: 10px 10px;
		margin-bottom: 10px;
	}
	.hubble-billing-secureinfo-wrap p {
	    font-size: 16px;
	    padding: 5px 0;
	}
	.hubble-billing-mainform .hubble-billing-formwrap{
		font-size: 15px;
	}
}

/* laptop */
@media (min-width: 1430px) and (max-width: 1499px) {
	.hubble-profile-mainwrap{
		padding-bottom: 3%;
	}
}
@media (min-width: 1200px) and (max-width: 1429px) {
	.hubble-profile-mainwrap{
		padding-top: 14%;
	}
}

/* desktop */
@media (min-width: 1500px) and (max-width: 1699px) {

}

/* large desktop - 21 inch */
@media (min-width: 1700px) and (max-width: 1949px) {	
	.hubble-profile-container{
		width: 1500px;
	}
	.hubble-profile-mainwrap {
	    padding-top: 10%;
	}
	.hubble-storage-clip .hubble-storage-clipoverlay,
	.hubble-storage-clip .hubble-storage-clip--hoverwrap{
		width: 90%;
	}
}

/* Full HDTV */
@media (max-width: 2150px) and (min-width: 1950px){
	.hubble-profile-container{
		width: 1700px;
	}
	.hubble-storage-clip .hubble-storage-clipoverlay,
	.hubble-storage-clip .hubble-storage-clip--hoverwrap{
		width: 91.5%;
	}
}
/* 4k digital screen*/
@media(max-width: 3900px) and (min-width: 2150px) {
	.hubble-profile-container{
		width: 2700px;
	}
	.hubble-storage-clip .hubble-storage-clipoverlay,
	.hubble-storage-clip .hubble-storage-clip--hoverwrap{
		width: 94%;
	}
}
