/*
  File: Hubble sign Up and Sign in CSS
*/
/*signup.scss*/
.hubble-signup-bodybg{
  background-image: url('../img/hubble-signin-header.jpg');

  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  object-fit: contain;
  text-shadow: 0px 0px 0px transparent;
}


/*signup main page*/
.hubble-signup-headerwrap {
  position: relative;
  text-align: center;
  width: 100%;
  min-height: 100%;

  color: #ffffff;
}
.hubble-signup-wrap {
  position: absolute;
  top: 46%;
  width: 100%;
  padding: 0 50px;

  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.hubble-signup-wrap-inner {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.hubble-signup-modal {
  position: relative;
  max-width: 45%;
  min-width: 27em;
  padding: 3em;
  margin: 0px auto;
  cursor: default;
  text-align: center;
  
  background: #fff;
  color: #9b9b9b;
  

  border-radius: 10px;
  opacity: 0.95;
  -moz-transform-origin: 50% 50%;
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -moz-transform: rotateX(0deg);
  -webkit-transform: rotateX(0deg);
  -ms-transform: rotateX(0deg);
  transform: rotateX(0deg);
  -moz-transition: opacity 1s ease, -moz-transform 1s ease;
  -webkit-transition: opacity 1s ease, -webkit-transform 1s ease;
  -ms-transition: opacity 1s ease, -ms-transform 1s ease;
  transition: opacity 1s ease, transform 1s ease;
  box-shadow: 0px 0px 32px 4px black;
}

.hubble-signup-logowrap {
  position: relative;
  display: block;
  margin-bottom: 1.5em;
}

.hubble-signup-logowrap img {
  display: block;
  margin: 0 auto;
  /*box-shadow: 0 0 0 1.5em #ffffff;*/
}



.hubble-error-msg{
  width: 100%;
  display: block;
  text-align: left;
  font-size: 13px;
  margin: 10px 0;

  color: #e54b4b;
}

.hubble-input-error input::-webkit-input-placeholder {
  color: #e54b4b;
}
.hubble-input-error input::-moz-placeholder { 
  color: #e54b4b;
}
.hubble-input-error input:-ms-input-placeholder { 
  color: #e54b4b;
}
.hubble-input-error input:-moz-placeholder { 
  color: #e54b4b;
}

.hubble-signup-frmwrap .input-group{
  border-bottom: 1px solid #979797;
}
.hubble-signup-frmwrap .input-group:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none; 

  border-bottom: 1px solid #00adf7;
}
.hubble-signup-frmwrap .input-group .input-group-addon{
  padding: 0;
  border: none;
  left: 5px;
  position: relative;

  background: transparent;
}
.hubble-signup-frmwrap .input-group-addon.hubble-pwdinfo-leftspace{
  left: -5px;
}
.hubble-signup-input {
  font-size: 16px;
  width: 100%;
  height: 40px;
  display: block;
  margin: 0 auto 15px;
  padding: 0 15px;
  border: none;
  border-radius: none;
  -webkit-box-shadow: none;
  box-shadow: none; 
  
  color: #9b9b9b;
  background: transparent;
}
.hubble-signup-input:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none; 
  /*border-bottom: 1px solid #979797;*/
  border-radius: none;
}
.hubble-signup-input:hover {
  /*border-bottom-color: #00adf7;*/
}
.hubble-signup-input:invalid {
  -webkit-box-shadow: none;
  box-shadow: none; 
}
.hubble-signup-links{
  font-size: 16px; 
  
  color: #4a4a4a;
}
.hubble-signup-links .hubble-signup-link-txt{
  padding: 8px 0;
  display: block;
}
.hubble-signup-links .hubble-signup-link-txt a{
  font-weight: 700;
}
.hubble-signup-link-txt .checkbox{
  font-weight: 400;
}
.hubble-signup-link-txt .checkbox input{
  width: 18px;
  height: 18px;
  margin-left: -25px;
  top: -4px;
}
.hubble-arrowicon{
  display: inline-block;
  width: 9px;
  height: 17px;
  margin: -3px 5px;

  background-image: url('../img/hubble-icons/hubble-arrow.svg');
  background-repeat: no-repeat;
  /*background-color: #36b1e5;
  border: solid 0 #36b1e5;*/
}
.hubble-signup-btn {
  display: block;
  width: 100%;
  font-size: 16px;
  font-weight: 700;  
  margin: 30px auto 20px; 
  
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #ffffff;
  background-color: #00adf7;  
}
.hubble-signup-btn:focus {
  outline: none;
}
.hubble-signupmodal-footer{
  padding: 15px 0 0;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
}
.hubble-signupmodal-footer .hubble-navitem-seprator{
  /*top: 5px;*/
  position: relative;
}

.hubble-btn {
  position: relative;
  display: block; 
  width: 100%;
  height: 40px;
  border: none;  
  
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-radius: 5px;
}
.hubble-btn-xl {
  padding: 15px 30px;
}




/* responsiveness */
/*signup_mobile.scss*/

/*iphone*/
@media (min-width: 290px) and (max-width: 500px) and (orientation : landscape) {
  .hubble-signup-wrap {
    top: 100% !important;
  }
}
@media (min-width: 290px) and (max-width: 390px) {
  .hubble-signup-wrap {
    padding: 70px 10px !important;
    top: 45%;
  }
}
/* mobile */
@media (min-width: 300px) and (max-width: 767px) {
  .hubble-signup-headerwrap{
    overflow-y: auto;
  }
  .hubble-signup-wrap {
    padding: 0 10px;
  }
  .hubble-signup-wrap-inner {
    max-width: 90%;
  }
  .hubble-signup-modal {
      min-width: 100%;
      width: 75%;
      padding: 20px 20px 10px;
  }
  
  .hubble-signup-input{
    font-size: 14px;
  }

  .hubble-btn{
    margin: 20px auto 10px;
  }
  .hubble-signup-btn{
    font-size: 15px;
  }

  .hubble-signup-frmwrap .hubble-signin-links {
    font-size: 13px;
  }

  .hubble-signupmodal-footer{
    padding: 10px 0 0;
    font-size: 12px;
  }  
  .hubble-arrowicon{
    margin: 0px 0px -4px -4px;
  }
  .hubble-signup-link-txt .checkbox input {
      width: 15px;
      height: 15px;
      margin-left: -20px;
      top: -3px;
  }
  .hubble-signup-links{
    font-size: 14px;
  }
}
/* mobile landscape */
@media (min-width: 300px) and (max-width: 768px) and (orientation : landscape) {
  .hubble-signup-wrap {
    padding: 100px 50px;
    top: 80%;
  }
}
/* iphone5 landscape */
@media (min-width: 500px) and (max-width: 650px) and (orientation : landscape) {
  .hubble-signup-wrap {
    top: 100%;
  }
}
/* ipad */
@media (min-width: 768px) and (max-width: 990px) {
  .hubble-signup-wrap {
    padding: 0 9pc;
  }
  .hubble-signup-modal{
    max-width: 50%;
    min-width: 33em;
  } 
}
/* nexus 7 landscape*/
@media (min-width: 900px) and (max-width: 990px) and (orientation : landscape){
  .hubble-signup-wrap {
      padding: 60px 9pc;
      top: 60%;
  }
}
/* ipad landscape*/
@media (min-width: 991px) and (max-width: 1024px) {
/*  .hubble-signup-headerwrap .hubble-signup-wrap {
    padding: 0;
  }*/
  .hubble-signup-modal{
    max-width: 50%;
    min-width: 33em;
    padding: 20px 3em;
  }
}
/* my-laptop with height 790px */
@media (min-width: 1200px) and (max-width: 1299px) and (max-height: 790px){
  .hubble-signup-mobilecenter {
    padding-bottom: 75px;
    top: 58%;
  }
}
/* laptop */
@media (min-width: 1300px) and (max-width: 1399px) {
  .hubble-signup-wrap {
    /*padding-bottom: 90px;
    top: 60%;*/
    padding-bottom: 75px;
    top: 62%;
  }
}
@media (min-width: 1400px) and (max-width: 1499px) {
.hubble-signup-wrap {
    padding-bottom: 75px;
    top: 52%;
  }
}
/* Full HDTV */
@media (max-width: 2150px) and (min-width: 1950px){
  .hubble-signup-modal{
    max-width: 50%;
    min-width: 38em;
    padding: 5em 3em;
  }
}
/* 4k digital screen*/
@media(max-width: 3900px) and (min-width: 2150px) {
  .hubble-signup-modal{
    max-width: 75%;
    min-width: 38em;
    padding: 12em 3em;
  }
}