/********************************************************************************/
/*								Page Styles (2.jpg)								*/
/********************************************************************************/
/*lo_css*/
.dataTables_filter{
    display: none;
}
.edit_oinc,.edit_employee,.delete_employee,.delete_oinc,.delete_liablities,.h-link{
    cursor: pointer;
}
/*--lo_css*/

.loan-tabs , .right-section-wrapper{
	height: $equal-heights;
}
.custom-responsive-table{
	height: $responsive-table-height;
	@media (min-width: 1700px) and (max-width: 2150px) {
		height:615px;
	}
	@media (min-width: 1500px) and (max-width: 1699px) {
		height:552px;
	}
	@media (min-width: 991px) and (max-width: 1199px) {
		height:558px;
	}
	@media (min-width: 1400px) and (max-width: 1499px) {
		height:550px;
	}
	@media (min-width: 1200px) and (max-width: 1399px) {
		height:532px;
	}
}
.custom-responsive-table_bmgm{
	@media (min-width: 1700px) and (max-width: 2150px) {
		height:570px !important;
	}
}
.psteps_circle_contents_inner{
	height: $main-mobile-height;
	overflow-y: auto;
	margin-bottom: 15px;
	.jspHorizontalBar{
		display: none;
	}
}
.b4_psteps_circle_contents_inner{
	height: $dashboard-tab-wrapper-height;
	overflow-y: auto;
	margin-bottom: 15px;
	.jspHorizontalBar{
		display: none;
	}
}
@media (max-width: 2150px) and (min-width: 1900px){
	.b4_psteps_circle_contents_inner{
		overflow-y: hidden;
		.jspHorizontalBar{
			display: none;
		}
	}
}
#content{
	height: auto;
}
.idContent{
	height: $main-desktop-height;	
}
.custom-responsive-table.no-tabs-table{
	height: $responsive-table-no-tabs-height;
}
@media(max-width: 991px){
	.wsc-wrapper{
		.panel-default{
			.panel-body:last-child{
				/*padding-bottom: 220px;*/
			}
		}
	}	
}
@media(max-width: 767px){
	.loan-tabs{
		height: $mobile-loan-tab-height;
	}
	.custom-responsive-table{
		height: $mobile-custom-responsive-table-height;
	}
	#content{
		height: $main-mobile-height;
	}
	.idContent{
		height: $main-mobile-height;
	}
	.custom-responsive-table.no-tabs-table{
		height: $mobile-custom-responsive-table-no-tabs-height;
	}
}
.docs-inside-tab{
	background-color: $section-bg;
	height: $document-inside-tab-desktop-height;
	@include maxsm{
		height: $document-inside-tab-mobile-height;
	}
}

.tabs-container{
	.nav-tabs{
		border-bottom: none;
	}
}
.right-section-wrapper{
	background-color: $white;
}
.nav-tabs{
	> li {
		position: relative;
		&:before{
		    content: "";
		    position: absolute;
		    right: 0;
		    top: 0;
		   width: 0; 
		   height: 0; 
		   border-top: 20px solid $body-bg; 
		   border-left: 20px solid transparent;
		   z-index: 99; 				
		}
		> a {
			font-size: 13px;
		}
		> a, > a:focus, > a:hover{
			@extend .roboto-bold;
			text-transform: uppercase;
			outline: none;
		}
	}

	> li.disabled, > li{
		> a, > a:focus, > a:hover{
			@extend .gradient-black;
			color: $white;
		}		
	} 
	> li.active{
		> a, > a:focus, > a:hover{
			@extend .gradient-yellow;
			color: $grey;
		}
	}
}
.loan-tabs{
	.tab-content{
		background-color: $white;
		padding: 10px 15px 10px;
	}
} 
.multi-border{
	border-top: 1px solid $light-grey-border;
	border-left: 1px solid $mid-grey-border;
	border-right: 1px solid $mid-grey-border;
	border-bottom: 1px solid $dark-grey-border
}
.center-search{
	text-align: center;
	.tab-search-element{
		text-align: left;
	}
}
.tab-search-element{
	font-size: 15px;
	display: inline-block;
	border: 1px solid $light-grey-border;
	margin-top:10px;
	ul{
		display: inline-block;
		padding: 10px 25px;
		margin-bottom: 0;
		p{
			margin-bottom: 0;
		}
		li{
			margin-top: 5px;
			vertical-align: middle;
		}
		input[type="text"]{
			padding: 5px 10px;
			line-height: 1.5;
			color: $input-blue;
 		}
 		.btn{
 			padding: 2px 25px;
 		}
 		.fancy-select{
 			width: 180px;
 			li{
 				margin-top: 0;
 			}
 		}
	}
}
.search-purpose{
	@extend .roboto-medium;
	color: $grey;
}
.tab-table-element{
	margin-top: 10px;
	background-color: $section-bg;
	.table {
		> thead{
			> tr{
				@extend .gradient-thead;
				> th{
					line-height: 1.2;
/*					box-sizing: border-box;*/
					padding-top: 15px;
					padding-bottom: 15px;
				}
			}
		}
		> tbody {
/*			max-height: 420px;*/
			> tr{
			 	> td{
			 		@extend .roboto-light;
			 		border: none;
			 		color: $input-blue;
			 	}	
			}
		}
	}
	.custom-responsive-table{
		overflow: auto;
		position: relative; 
	} 
	.custom-table-header{
		.table{
			margin-bottom: 0;
		}
	}
}
.tab-table-header-hidden{
	margin-top: 0;
	.jspPane{
		margin-top: -50px;
	}
	table > div{
		padding-right: 15px;
	}
	.jspTrack{
		border: 1px solid $mid-grey-border;
	}
}
/*.tab-table-header-sticky{
	margin-top: 30px;
	background-color: $section-bg;
	@extend .gradient-thead;
	height: auto;
	table{
		margin-bottom: 0;
		> thead{
			> tr{
				> th{
					border-bottom: none;
				}
			}
		}
		> tbody{
			visibility: hidden;
			position: relative;
			z-index: -22;
		}
	}
	> div{
		height: 50px;
		padding-right: 10px;
		border-bottom: 2px solid $table-header-border;
	}	
}
*/


/*2.jpg Right Section*/
.loan-counters-wrapper{
	text-align: center;
}
.loan-counters{
	display: block;
	padding-top: 30px;
	padding-bottom: 30px;
	margin-bottom: 20px;
	margin-left: 15px;
	margin-right: 15px;
	border-bottom: 1px solid $light-grey-border; 
	text-align: left;
}
.single-loan-counter{
	margin-top: 15px;
    background-color: $section-bg;
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 35px auto;	
	border: 1px solid $grey;
	padding-left: 35px;
	.counter-detail{
	    background-color: white;
	    border-left: 1px solid $grey;
	    display: block;
	    padding-left: 10px;		
		p{
			margin-bottom: 0;
		}
		.number{
			@extend .roboto-bold;
			font-size: 1.5em;
		}
		.counter-name{
			@extend .roboto-medium;
		}
	}
}
/*.right-section-wrapper, .tabs-area{
	margin-top: 20px;
}*/
.purchase-loan-counter{
    background-image: url("../img/icons/purchase-loan.png");
}
.refinance-loan-counter{
    background-image: url("../img/icons/refinance-loan.png");
}
.active-loan-counter{
    background-image: url("../img/icons/active-loan.png");	
}
.tabs-area{
	background-color: $white;
}		
@media(max-width: 767px){
	.loan-tabs{
		.tab-content{
			padding: 30px 10px;
		}
		.nav-justified{
			background-color: $section-bg;
		}
	} 	
}
h3.center-text{
	text-align: center;
	margin-bottom: 0;
	@include maxxs{
		text-align: left;
	}
}
/********************************************************************************/
/*								Dashboard Page Styles							*/
/********************************************************************************/
.offcanvas-content-wrapper{
	padding-bottom: 50px;
}
.main-content-container{
	position: relative;
}
.right-side{
	background-color: $body-bg;
	.main-content-container{
	}
	.main-left-column, .main-right-column{
		.mob_section_height{
			@include maxmd{
				height: $_4k-rightSidebar-minus-footer-height !important;
			}
		}
		.section-wrapper{
			height: $equal-heights;
			/*heights adjusted for right side - ajay*/
			@media (max-width: 767px){
				height: 755px;
			}
			background-color: $white;
			@include maxsm{
				width: 100%;
			}
			.nav-tabs{
				li{
					&:before{
						border-top: 20px solid $white;
					}
				}
			}
			.tab-content{
				min-height: auto;
			}
		}
	}
	.main-left-column{
		margin-top: 0;
		.docs-section-wrapper{
			.tabs-top-positioned{
				> .nav-tabs{
					margin-top: 0;
					position: absolute;
					left: 0;
					top: 0;
					border-bottom: none;
					background-color: $body-bg;
					width: 100%;
					@include maxlg{
						left: 15px;
						right: 15px;
						width: auto;
					}
					li:before{
						border-top: 20px solid $body-bg;
					}
				}
				> .tab-content{
					margin-top: 20px;
					@include extralgto4k{
						margin-top: 80px;
					}
				}
			}
		}			
	}
}
.mtop0{
	margin-top: 0  !important;
}
.mbot0{
	margin-bottom: 0 !important;
}
.padd30 {
	padding-top: 30px;
	padding-bottom: 30px;
}
.padd5 {
	padding-top: 5px;
	padding-bottom: 5px;
}
.btn_padd12{
	padding:12px !important;
}
.padd15 {
	padding-top: 15px;
	padding-bottom: 15px;
}
.scroll-y{
	overflow-x: hidden;
	overflow-y: auto;  
}
.combine-pages-section-left{
	@include maxsm{
		margin-bottom: 20px;
	}
}
.combine-pages-section-right{
	@include maxsm{
		& .right-sidebar-content{
			padding-left: 15px;
			padding-right: 15px;
		}
	}
}
.dashboard-tab-content{
	.tab-pane{
		.wrapper{
			height: $dashboard-tab-wrapper-height;
		}
	}
}
.left-side.sidebar-offcanvas{
	border: 1px solid $white;
}
@media(max-width: 1199px){
	.main-content-container{
		.main-left-column{
			margin-bottom: 30px;
		}
	}	
}


/*
 * Dashboard page Main Content Area Styles
 * --------------------------------------------------
 */
 .right-side{
 	.main-left-column{
 		background-color: $white;
 	}
 } 
.section-wrapper{
	padding: 10px 0 30px 0;
	background-color: $white;
	.dashboard-tab-content{
		padding: 0px 0px;
	}
}
@media(max-width: 1199px){
	.right-side{
	 	.main-left-column{
	 		background-color: transparent;
	 	}
	}
	.section-wrapper{
		padding: 15px 15px;
	}		
}
.dashboard-tab-article{
	margin-bottom: 10px;
	header{
		@extend .gradient-thead;
		padding: 7px 15px;
		border-bottom: 1px solid $light-grey-border;
		h4{
			@extend .roboto-medium;
			margin-top: 0;
			margin-bottom: 0;
			display: inline-block;
			float: left;
			color: $grey;
		}
		.article-header-actions{
			float: left;
			margin-left: 10%;
			margin-top: 2px;
			p,a{
				color: $link-red;
			}
			p{
				margin-bottom: 0;
				font-size: 12px;
				text-decoration: underline;
			}
			a:hover, a:focus, a:active{
				outline: none;
			}
		}
	}
	.article-centent{
		padding: 10px 25px 0px;
		background-color: $section-bg;
		border-bottom: 1px solid $light-grey-border;
	}
	.column-label,
	.column-data{
		padding-left: 0px;
		padding-right: 0px;
		p{
			line-height: 1.1;
		}
	}
	.column-label{
		p{
			font-size: 10px;
			white-space: nowrap;
			color: $grey;
		}
	}
	.column-data{
		padding-left: 5px;
		p{
			font-size: 12px;
			color: $input-blue;
		}
	}
	&:last-child{
		margin-bottom: 0;
	}
}
.dashboard-tab-content{
	footer{
		margin-top: 40px;
		.green-btn{
			display: inline-block;
			p{
				margin-bottom: 0;
				font-size: 12px;
			}
			.btn{
				padding: 6px 15px;
			}
		}
	}
	.tab-pane{
		.jspContainer{
			width: 100% !important;
		}
	}
}

/********************************************************************************/
/*								Page Styles (5.jpg)								*/
/********************************************************************************/
.section-wrapper-full-height{
	.tabs-container, .tabpanel, .tab-content{
		height: 100%;
	}
	.tab-content{
		background-color: transparent;
	}
	.tabs-container{
		position: relative;
		background-color: $section-bg;
		border-bottom: 1px solid $light-grey-border;
		> footer{
			position: absolute;
			right: 0;
			bottom: -25px;
			@include maxxs{
				bottom: -18px;
			}
			a,p{
				color: $link-red;
				&:hover, &:focus, &:active{
					text-decoration: none;
					outline: none;
					color: $link-red;
				}
			}
			p{
				margin-bottom: 0;
			}
		}
	}
	.article-content-full-height{
		border-bottom: none;
		label{
			white-space: nowrap;
			text-align: left;
		}
	}
	.green-btn{
		p{
			font-size: 12px;
		}
		.btn{
			padding: 6px 12px;
		}
	}
}
.other-referal{
	margin-top: 15px;
	display: none;
	border-radius: 0;
	color: $input-blue;
	@extend .roboto-light;
	&:hover, &:focus, &:active{
		box-shadow: none;
		border: 1px solid $light-grey-border;
	}
}
form{
	.green-btn{
		display: inline-block;
	}
}
.footer-note{
	position: absolute;
	right: 0;
	bottom: -25px;
	@media (min-width: 1500px) and (max-width: 2149px){
		bottom: -18px;
	}
	a,p{
		color: $link-red;
		&:hover, &:focus, &:active{
			text-decoration: none;
			outline: none;
			color: $link-red;
		}
	}
	p{
		margin-bottom: 0;
	}
}
@media(max-width: 767px){
	.footer-note{
		display: none;
	}
}
/********************************************************************************/
/*							Page 7.jpg Styles (Step#1)							*/
/********************************************************************************/
.psteps_circle_contents{
	padding: 0;
	background-color: transparent;
	border: none;
	position: relative;
}
.panel-group{
	.panel{
		border-radius: 0;
		box-shadow: none;
		border-left: none;
		border-right: none;
	}
	.panel-heading{
		border-left: 1px solid $light-grey-border;
		border-right: 1px solid $light-grey-border;
		border-radius: 0;
		padding: 0 15px;
		@extend .gradient-thead;
		h4, .collapse-toggler{
			display: inline-block;
		}
		h4{
			padding: 10px 0;
			@extend .roboto-medium;
		}
		.collapse-toggler{
			float: right;
			width: 30px;
			height: 30px;
			width: 30px;
			margin-top: 5px;
			text-align: center;
			a{
				display: block;
				&:hover, &:focus, &:active{
					outline: none;
				}
				img{
					width: 100%;
				}
			}
		}
	}
	.panel-collapse{
		background-color: $section-bg;
		border-bottom: 1px solid $light-grey-border;
	}
}
.hidden-ico{
	display: none;
}
.dlt-borrower{
    display: inline-block;
    float: right;
    margin-right: 15px;
    margin-top: 8px;	
	a{
		color: $link-red;
		@extend .roboto-bold;
		font-size: 11px;
		&:hover, &:focus, &:active{
			outline: none;
			text-decoration: none;
			color: $link-red;
		}
	}
}
label{
	font-size: 13px;
	@extend .roboto-bold;
	font-weight: 400;
}
.ages-input-area{
	display: none;
}
.input-span{
	span{
		display: inline-block;
		input{
			display: inline-block;
		}
	}
	.popup-checkbox{
		input{
			display: none;
		}
		label{
			display: block;
			span{
				width: 30px;
				@include extralgto4k{
					width: 40px;
				}
			}
		}
	}
	&.year{
		span{
			input{
				max-width: 55px;
			}
		}
	}
	&.rent-amount{
		span{
			input{
				max-width: 75px;
			}
		}
	}
}
.address-row{
	border-top: 1px solid $gw-grey-border;
	margin-top: 10px;
	.address-row-wrapper{
		position: relative;
		border-top: 1px solid $white;
		padding-top: 40px;
		padding-left: 20px;
	}
	ul{
		margin-bottom: 0;
	}
	li{
		margin-top: 15px;
		span{
			vertical-align: middle;
		}
	}
	.fancy-select{
		li{
			margin-top: 0;
		}
	}
	.rent-amount{
		display: none;
	}			
}
.dlt-address{
	position: absolute;
	right: 20px;
	top: 10px;
	a{
		color: $link-red;
		@extend .roboto-bold;
		text-decoration: underline;
		&:hover, &:focus, &:active{
			outline: none;
		}
	}
	.dlt-new{
		margin-right: 80px;
	}
}
.green-text{
	color: $green;
}
.red-text{
	color: $link-red;
}
.current-address{
	.green-text{
		@extend .roboto-bold;
	}
}
.select.input-span{
	span{
		vertical-align: middle;
	}
}
.select{
	.fancy-select{
		min-width: 120px;
	}
}
.address-location{
	li{
		@include css3-prefix(box-sizing, border-box);
	}
}
.step-header{
	background-color: $white;
	ul{
		margin-bottom: 0;
	}
	h2{
		margin-top: 0;
		margin-bottom: 15px;
		@extend .roboto-bold;
	}
}
.step-content{
	.panel-body{
		padding-bottom: 40px;
	}
	.step-2{
		.panel-body{
			padding-bottom: 0;
		}
	}
	.temp-18-v1{
		.panel-body{
			@media (min-width: 1900px) and (max-width: 2150px){
				padding-bottom: 13px;				
			}
		}
	}
}
.rent-amount{
	display: none;
}
.pstep-handler-btns{
	text-align: right;
}
.pstep-handler-btn{
	display: inline-block;
	.green-button{
		@extend .green-button;
	}
	.black-button{
		@extend .black-button;
	}
}
.address-half-col{
	width: 48%;
	span + span{
		width: 85%;
	}
}
.step-footer{
	padding-left: 10px;
	li{
		margin-right: 0px;
	}
}
/*.wsc-wrapper{
	.panel-default:last-child{
		.panel-body{
			padding-bottom: 400px;
		}
	}
}*/
/*.panel-default{
	.panel-collapse:{
		padding-bottom: 400px;
	}
}*/
@media(min-width: 992px) and (max-width: 2150px) {
	.clg-column{
		width: 33.33%;
		label{
			margin-bottom: 0;
			margin-top: 6px;
			white-space: nowrap;
		}
		.input-area{
			padding-left: 5px;
			padding-right: 5px;
		}
	}
	.middle-label{
		label{
		margin-bottom: 0;
		margin-top: 6px;
		white-space: nowrap;				
		}
	}	
}
@media(min-width: 992px) and (max-width: 2150px) {
	.b4_clg-column-8{
		label{
			margin-bottom: 0;
			margin-top: 6px;
			white-space: nowrap;
		}
		.input-area{
			width: 77.33%;
			padding-left: 5px;
			padding-right: 5px;
		}
	}
	.b4_clg-column-4{		
		label{
			margin-bottom: 0;
			margin-top: 6px;
			white-space: nowrap;
		}
		.input-area{
			width: 55%;
			padding-left: 5px;
			padding-right: 5px;
		}
	}	
}
@media(max-width: 767px){
	.address-row {
		.address-row-wrapper{
			padding-left: 0;
		}
		li{
			margin-top: 10px;
		}		
	}
	.input-span{
		width: 100%;
		display: block;
		span{
			float: left;
			@include css3-prefix(box-sizing, border-box);
			width: 50%;
		}
		&.year{
			span{
				input{
					max-width: none;
				}
			}
		}
		&.rent-amount{
			span{
				input{
					max-width: none;
				}
			}
		}
	}
	.address-half-col{
		width: 100%;
		span + span{
			width: 50%;
		}
	}	
	.select {
		.fancy-select{
			min-width: auto;
		}
	}
	.dlt-address {
		.dlt-new{
			margin-right: 65px;
		}
	}
	.step-footer{
		padding-left: 0;
		li{
			padding-left: 2px;
			padding-right: 2px;
		}
		.btn{
			font-size: 11px;
			/* padding: 3px; */
		}
	}
} 
@media(max-width: 480px){
	.dlt-borrower{
	    display: block;
	    float: none;
	    margin-top: -10px;
	}    		
}

/*Page 7 Step2 Borrower information article*/

.borrower-info{
	padding-bottom: 10px;
	margin-bottom: 10px;
	position: relative;
	.ud-borrwer-info{
		display: inline-block;
		margin-left: 25px;
		@include maxsm{
			position: absolute;
			right: 10px;
			top: 0;			
		}
		li{
			padding-left: 1px;
			padding-right: 1px;
			margin-left: 15px;
			p{
				margin-bottom: 0;
			}
			a,p{
				@extend .roboto-bold;
				color: $link-red;
				font-size: 13px;
				text-decoration: underline;
				&:hover{
					text-decoration: underline;
				}
			}
		}
	}
	header{
		display: inline-block;
		h4{
			margin-top: 0;
			margin-bottom: 10px;
			@extend .roboto-medium;
		}
	}
	label{
		text-align: right;
		padding-right: 5px;
		margin-bottom: 0;
		font-size: 11px;
	}
	.info-text{
		padding-left: 5px;
		p{
			margin-bottom: 0;
			font-size: 13px;
		}
	}
	.form-group{
		margin-bottom: 5px;
	}
}
.gw-bottom-border{
	border-bottom: 1px solid $gw-grey-border;
	box-shadow: 0 1px 0 $white;
}
.info-text{
	font-size: 13px;
	padding-top:2px;
	white-space: nowrap;
	p{
		color: $input-blue;
	}
}
.popup-container{
	position: relative;
	.popup-content{
		box-shadow: 0 0px 10px rgba(0, 0, 0, 0.5);
		background-color: $white;
		position: absolute;
		padding: 15px;
		z-index: 999;
		display: none;
		header{
			h4{
				@extend .roboto-medium;
				text-transform: uppercase;
			}
		}
	}
	.popup-wrapper{
		border: 4px solid $orange;
		padding: 5px 20px;
	}
	li{
		margin-bottom: 10px;
	}
	.fancy-select{
		li{
			margin-bottom: 0;
		}
	}
	.input-span{
		span{
			width: 50%;
			text-align: left;
			float: left;
			label{
				margin-top: 5px;
			}
		}
	}
	.popup-footer{
		margin-top: 15px;
		text-align: center;
		ul{
			display: inline-block;
		}
	}
}
.popup-content.income{
	margin-left: 5%;
/*	margin-top: -22%;*/
	left: auto;	
	top: auto;
	margin-top: -85px;
}
@media(max-width: 767px){

	.borrower-info{
		.ud-borrwer-info{
			top: -10px;
		}
		header{
			padding-top: 10px;
			h4{
			}
		}
		label{
			text-align: left;
		}
	}		
	.popup-container{
		.popup-content{
			padding: 5px;
			header{
				padding-top: 0px;
			}
		}
		.popup-wrapper{
			padding: 0 10px;
		}
		li{
			margin-bottom: 10px;
		}
		.input-span{
			margin-bottom: 0;
			span{
				width: 100%;
				float: none;
				label{
					margin-top: 5px;
				}
			}
		}
		.popup-footer{
			margin-top: 15px;
			text-align: center;
			ul{
				display: inline-block;
			}
		}
	}
	.popup-content.income{
		margin-left: 0;
		left: 5px;
		margin-top: -85%;

	}	
}
/*Page 7 Step2 Borrower information article Footer Form*/
.form-inline {
	.control-label{
		margin-top: 7px;
	}
	.form-control{
		width: 100%;
	}
}
.block-form-group{
	.form-group{
		display: block;
	}
}
.label-span{
	label{
		margin-top: 17px;
		margin-bottom: 18px;		
	}
}
.label-right{
	label{
		text-align: right;
	}
}
.job-form-wrapper{
	.column{
		margin-top: 5px;
		margin-bottom: 5px;
	}
}
.aji-footer-form{
	margin-top: 50px;
	margin-bottom: 40px;
}
.job-form-footer{
	margin-top: 30px;
}
.three-in-one-row{
	>span{
		display: inline-block;
		float: left;
	}
	.label-span{
		width: 10%;
		text-align: center;
	}
	.select-company{
		margin-left: 35px;
		@media (min-width: 1200px) and (max-width: 1499px) {
			margin-left: 23px;
		}
		@media (min-width: 1500px) and (max-width: 1699px) {
			margin-left: 17px;
		}
		@media (max-width: 2150px) and (min-width: 1900px){
		    margin-left: 22px;
		}
		@media (max-width: 3000px) and (min-width: 2150px){
			margin-left: 33px;
		}
		@media (max-width: 3900px) and (min-width: 3001px){
			margin-left: 45px;
		}
	}
	.company-name{
		@media (min-width: 1500px) and (max-width: 1699px) {
			.sbHolder {
				min-width: 98px;
			}
		}
	}
	.select-company, .company-name{
		width: 45%;
		@media (max-width: 3900px) and (min-width: 2150px){
			width: 47%;
		}
	}
	
}
@media(max-width: 2150px){
	.companyOrSelect{
		/*width: 100%;
		display: block;
		clear: both;*/
		.control-label{
			/*width: 16%;*/
		}
		.three-in-one-row{
			/*width: 84%;*/
			.select-company, .company-name{
				width: 50%;
			}

		}
		.label-span {
			width: 10%;
			label{
				margin-bottom: 0;
				margin-top: 7px;
			}
		}
	}
}
@media (min-width: 1200px) and (max-width: 1499px) {
	.three-in-one-row{
		.company-name{
			width: 45% !important;
		}
		.select-company{
			width: 45% !important;
		}
	}
}
@media(max-width: 991px){
	.label-span{
		label{
			margin-top: 13px;
			margin-bottom: 14px;		
		}
	}
}
@media(min-width: 767px) and (max-width: 991px){
	.companyOrSelect{
		.control-label{
		}
		.three-in-one-row{
			.select-company, .company-name{
				width: 36%;
			}

		}
		.label-span {
			width: 28%;
			label{

			}
		}
	}	
}
@media (max-width: 767px) {
	.b5_pric_mobpad{
		.select-company{
			margin-left: 0px;
			margin-top: 10px;
		}
		.select-company, .company-name{
			width: 100%;
		}
	}
}
@media (max-width: 767px) {
	.label-right{
		label{
			text-align: left;
		}
	}
	.label-span{
		label{
			margin-top: 7px;
			margin-bottom: 7px;		
		}
	}	
	.job-form-wrapper{
		.column{
			.form-group{
				> div{
					padding-left: 0px;
					padding-right: 0px;
				}
				> label{
					padding-left: 0;
				}
			}
		}
	}
	.companyOrSelect{
		.control-label{
			width: 50%;
		}
		.three-in-one-row{
			width: 50%;
			.select-company, .company-name{
				width: 100%;
				padding:5px 0;
			}
		}
		.label-span {
			width: 100%;
			label{
				margin-top: 3px;
				margin-bottom: 3px;
			}
		}
	}		
}


/********************************************************************************/
/*							Page 7.jpg Styles (Step#3)							*/
/********************************************************************************/

.popup-content.add-liabilities{
	left: 15px;
	right: 15px;
}
.step-subheader{
	h3{
		margin-top: 0;
		font-size: 22px;
		@extend .roboto-medium;
	}
}
.liabilities-form{
	.input-span{
		span{
			label{
				display: block;
				text-align: right;
				padding-right: 10px;
			}
		}
	}
}
.steps-grey-table{
/*	height: 100%;*/
	background-color: $section-bg;
	border-bottom: 1px solid $light-grey-border;
	position: relative;
	padding-bottom: 50px;
	.table-responsive{
		overflow: visible;
		table{
			background-color: $section-bg;
		}
	}
}
.dlt-liability-link, .action-link-in-table{
	color: $link-red;
	text-decoration: underline;
	&:hover, &:focus, &:active{
		color: $link-red;
		outline: none;
	}
}
.step-table{
	.table{
		thead{
			tr{
				@extend .gradient-thead;
				border: 1px solid $light-grey-border;
				th{
					/*@extend .roboto-light;*/
					color: $grey;
				    line-height: 1.2;
				    padding-bottom: 15px;
				    padding-top: 15px;					
				}
			}
		}
		tbody{
			tr{
				td{
					border-top: none;
					@extend .roboto-light;
					color: $input-blue;
				}
			}
		}
	}
	div.fancy-select {
		div.trigger{
			height: 25px;
			background-size: 25px;
			padding: 2px 25px 6px 9px;
			background-size: 25px;
		}
		div.trigger.open{
			height: 24px;
		}
		ul.options.open{
			top: 25px;
			bottom: auto;
		}
		ul.options.overflowing.open{
			top: auto;
			bottom: 25px;
		}
	}
	.popup-content{
		div.fancy-select {
			div.trigger{
				height: 34px;
				background-size: 34px;
				padding: 6px 25px 6px 9px;
				background-size: 34px;
			}
			div.trigger.open{
				height: 34px;
			}
			ul.options.open{
				top: 35px;
				bottom: auto;
			}
			ul.options.overflowing.open{
				top: auto;
				bottom: 35px;
			}
		}		
	}	
}

.step-table-footer{
	position: absolute;
	left: 20px;
	bottom: 20px;
}
.step-header-main{
	background-color: white;
	h2{
		margin-top: 0;
		margin-bottom: 0;
		@extend .roboto-bold;
	}
	ul{
		margin-bottom: 0;
	}
}
.subheader-container{
	padding-top: 20px;
	background-color: white;
	h3{
		margin-top: 0;
		margin-bottom: 0;
		@extend .roboto-medium;
	}
	ul{
		margin-bottom: 0;
	}
}
@media(max-width: 767px){
	.liabilities-form{
		.input-span{
			span{
				label{
					text-align: left;
				}
			}
		}
	}
	.popup-content.add-liabilities{
		margin-top: -10%;
		max-width: 240px;
	}
	.step-3{
		min-width: 767px;
	}		
	.step-table{
		.popup-content{
			div.fancy-select {
				div.trigger{
					height: 30px;
					background-size: 30px;
					padding: 4px 25px 6px 9px;
					background-size: 30px;
				}
				div.trigger.open{
					height: 30px;
				}
				ul.options.open{
					top: 30px;
					bottom: auto;
				}
				ul.options.overflowing.open{
					top: auto;
					bottom: 30px;
				}
			}		
		}	
	}
}


.step-4.steps-grey-table{
	padding-bottom: 20px;
	table{
		margin-bottom: 0;
	}
}
.step-responsivetable.steps-grey-table{
	padding-bottom: 0;
}
.table-footer-total-link{
	@extend .roboto-bold;
	color: $input-blue;
/*	padding-right: 40px;
	margin-top: 20px;*/
	&.right{
		text-align: right;
		display: block;
	}
}
.popup-content.add-asset{
	left: 20%;
	right: 20%;
}
.popup-content.add-creo{
	left: 5%;
	right: 5%;
	margin-top: -25%;
	@media (min-width: 1500px) and (max-width: 2150px){
		margin-top: -215px;
	}
}
.step-4{
	/*max-width: 685px;*/
	.step4-mw-table{
		min-width: auto;
	}
}
.label-right{
	label{
		text-align: right;
		display: block;
		padding-right: 15px;
	}
}
.step-4{
	padding-bottom: 60px;
	overflow-x: hidden; 
}
@media(max-width: 1199px){
	.step-4{
		max-width: none;
	}
}
@media(max-width: 767px){
	.label-right{
		label{
			text-align: left;
		}
	}
	.popup-content.add-asset{
		left: 5%;
		right: 5%;
	}	
	.popup-content.add-creo{
		margin-top: -100%;
	}	
	.step-4{
		padding-bottom: 140px;
	}	
}

/********************************************************************************/
/*							Page 7.jpg Styles (Step#5)							*/
/********************************************************************************/
.borrower-options-container{
	.divider{
		height: 2px;
		margin-left: 15px;
		margin-right: 15px;
		margin-top: 25px;
		margin-bottom: 25px;
	}
}
.bp-content{
	header{
		h4{
			@extend .roboto-medium;
			padding-left: 15px;
			margin-top: 0;
			margin-bottom: 15px;
		}
	}
	label{
		@extend .roboto-light;
	}
}
.borrower-options{
	.column{

	}
}
.selection-detail{
	@extend .roboto-light;
	margin-bottom: 0;
	margin-top: 6px;
}
.borrower-selectios{
	> .column{
		margin-bottom: 15px;
	}
}
@media(max-width: 1350px){
	.borrower-options-container{
		.divider{
			padding-right: 15px;
		}
	}	
}
@media (min-width: 1199px) and (max-width: 2150px) {
	.borrower-options{
		.column{
			width: 33.333%;
		}
	}	
}
@media (max-width: 767px) {
	.bp-content{
		header{
			h4{
			}
		}
		label{
			white-space: inherit;
		}
	}	
}


/********************************************************************************/
/*							Page 7.jpg Styles (Step#6)							*/
/********************************************************************************/

.step-defaul-panel{
	.panel-heading{
		@extend .gradient-thead;
	}
	.panel-title{
		@extend .roboto-medium;
		float: left;
		font-size: 18px;
	}
	.panel-body{
		background-color: $section-bg;
		border-bottom: 1px solid $light-grey-border;
		.column .row{
			margin-bottom: 15px;
		}
	}
}
.psteps-content{
	.v3-step-4-content{
		.panel-title{
			font-size: 16px;
		}			
	}
}
.label-top-margined{
	label{
		margin-top: 7px;
	}
}
.panel-heading-input{
	float: left;
	margin-left: 20px;
	label{
		margin-bottom: 0;
	}
}
.tbd-address{
	float: right;
	a{
		color: $link-red;
		text-decoration: underline;
		@extend .roboto-bold;
	}
}
.popup-content.add-mortgage{
    bottom: auto;
    left: auto;
    margin-top: -90%;
    width: 100%;
    &.full-width-page{
    	margin-top: 40px;
    	top: auto;
    	width: 500px;
    	min-width: 200px;
    	left: 50%;
    	margin-left: -250px;
    	@media (max-width: 1199px){
    		margin-top: 400px;
    	}
    	@media (max-width: 767px){
    		margin-top: 20px;
    		width: 96%;
    		margin-left: 2%;
    		left: 0;
    	}
    	@include extralgto4k{
    		width: 800px;
    	}
    }	
}
.popup-content.piti-popup{
	width: 500px;
	top: 80%;
	left: 50%;
	margin-left: -50px;
	@include maxsm{
	    left: 0;
	    margin-left: 5%;
	    margin-top: -105%;
	    top: auto;
	    width: 90%;		
	}
	@include smtolg{
		top: 300%;
		margin-left: -250px;
	}
	@media (min-width: 1200px) and (max-width: 1499px) {
		margin-left: -250px;
		top: 100%;
	}
	@include extralgto4k{
		top: 50%;
		left: 50%;
		margin-top: 0;
	}	
}
.step6-footer{
	.popup-container{
		margin-bottom: 0;
	}
}
@media(max-width: 767px){
	.step-defaul-panel{
		.panel-heading{
		}
		.panel-title{
		}
		.panel-body{
			.column .row{
				margin-bottom: 5px;
			}
		}
	}	
}

/********************************************************************************/
/*							Page 7.jpg Styles (Step#7)							*/
/********************************************************************************/
.step7-spa-body{
	margin-top: 30px;
	margin-left: 15px;
	margin-right: 15px;
	padding-top: 50px;
	border-top: 1px solid $light-grey-border;
}
input.trans-input{
	background: transparent;
	border: none;
	border-bottom: 1px solid $input-border;
	&:hover, &:focus{
		border: none;
		border-bottom: 1px solid $input-border;
	}
}
.panel-body.zero-padding{
	padding-left: 0;
	padding-right: 0;
}
@media(min-width: 2150px){
	.step-7-content{
		.form-control{
			max-width: 280px;
		}
	}	
}

@media(max-width: 2149px){
	.step-7-content{
		.form-control{
			max-width: 135px;
		}
	}	
}



/********************************************************************************/
/*						Page 22.jpg General Styles								*/
/********************************************************************************/
.submitted{
	@extend .gradient-yellow;
}
.approved{
	@extend .gradient-green;
}
.suspended{
	@extend .gradient-red;
}
.list-inline {
	.v-separator{
	    background-color: $grey;
	    height: 20px;
	    padding-left: 0;
	    padding-right: 0;
	    width: 2px;	
	}	
}
.section-header-top, .step-header, .step-header-main, .step-table-subheader{
	h2, h3{
		font-size: 21px;
	}
}
.section-header-top{
	position: relative;
	&.no-select{
		margin-bottom: 20px;
	}
	h3{
		margin-top: 0;
		margin-bottom: 0;
		@extend .roboto-bold;
	}
	ul{
		li{
			vertical-align: middle;
		}
	}
	.fancy-select{
		min-width: 165px;
	}
	.right-aligned-btn{
		position: absolute;
		right: 2px;
		top: 0;
	}
}
#content, .idContent{
 	background-color: $section-bg;	
}
.section-footer-bottom{
	margin-top: 15px;
	ul{
		li{
			margin-right: 15px;
			.hint{
				width: 20px;
				height: 20px;
				border: 1px solid $white;
				box-shadow: 0px 1px 1px $shadow;				
			}
			p{
				margin-bottom: 0;
				@extend .roboto-light;
			}
			div, p{
				display: inline-block;
				vertical-align: middle;
			}	
		}
	}
}
.document-article{
	.da-content-wrapper{
	}
	.da-content{
		@extend .gw-bottom-border;
		padding-top: 35px;
		padding-bottom: 15px;
	}
}
.document-article:last-of-type{
	.da-content{
		border-bottom: none;
		box-shadow: none;
	}
}
.document-article-header{
	text-align: center;
	.popup-content{
		left: 65%;
		right: -160%;
		text-align: left;
	}
	> .row > ul{
		li{
			margin-bottom: 5px;
		}
		li:first-of-type{
			a{
				text-decoration: none;
				color: $grey;
				&:hover, &:focus, &:active{
					outline: none;
				}				
			}
			h4{
				@extend .roboto-medium;
				margin-top: 0;
				margin-bottom: 0;
				img{
					max-width: 20px;
				}
			}
		}
		li:last-of-type{
			a{
				color: $link-red;
				text-decoration: underline;
				font-size: 12px;
				@extend .roboto-bold;
				&:hover, &:focus, &:active{
					outline: none;
				}
			}
		}
	}
}
.document-article-content{
	.column{
		margin-bottom: 12px;
	}
}
.drop-file-box{
	@extend .gradient-input;
	border: 1px solid $white;
	box-shadow: 0px 1px 4px $shadow;
	padding: 10px 5px;
	position: relative;
	height: 50px;
	overflow: hidden;
	.close-dfb{
		position: absolute;
		right: 1px;
		top: -4px;
		a{
			color: $yellow-gradient-middle;
			font-size: 16px;
			&:hover, &:focus, &:active{
				color: $yellow-gradient-middle;
				outline: none;
			}
		}
	}
	.drop-file-name{
		padding-right: 10px;
		@extend .roboto-bold;
		color: $file-name;
		font-size: 11px;
		p{
			margin-bottom: 0;
			text-align:left;
		}
	}
	.open-arrow{
		position: absolute;
		right: 3px;
		bottom: 0px;
		display: none;
		text-align: center;
		img{
			max-width: 20px;
			display: inline-block;
		}
	}
	.open-arrow-top{
		text-align: center;
		@extend .roboto-bold;
		margin-bottom: 0;
		color: $grey;
	}
	&.approved, &.suspended, &.submitted{
		.drop-file-name{
			@extend .roboto-light;
			color: $white;
		}
		.open-arrow{
			display: block;
		}
	}
	&.approved{
		@extend .approved;
	}
	&.submitted{
		@extend .submitted;
	}
	&.suspended{
		@extend .suspended;
	}
}
.open-arrow-text{
	@extend .roboto-light;
	font-size: 8px;
	text-transform: uppercase;
	margin-bottom: 0; 
	color: $white;
	margin-top: -2px;
	text-align: center;
}
.popup-content.ci-show{
	top: -30%;
}
.popup-content.di-show{
	top: 0;
	top: -330%;
}
@media(max-width: 2150px) and (min-width: 1500px){
	.drop-file-box{
		.drop-file-name{
			font-size: 12px;
		}
	}		
}
@media(max-width: 767px){
	.section-header-top, .step-header, .step-header-main, .step-table-subheader{
		h2, h3{
			font-size: 18px;
		}
	}
	.section-header-top{
		> ul{
			margin-bottom: 0;
			> li{
				display: block;
				margin-bottom: 20px;

			}
		}
		.list-inline{
			li:last-child{
				padding-right: 0;
			}
		}
		.fancy-select{
			min-width: 153px;
		}
	}
	#content{
		height: 545px;
	}
	.list-inline {
		.v-separator{
			display: none;
		}	
	}
	.section-footer-bottom{
		ul{
			li{
				margin-right: 0;
				padding-right: 3px;
				.hint{
					width: 15px;
					height: 15px;
				}
				p{
					font-size: 12px;
					.footer-d{
						display: none;
					}
				}
			}
		}
	}
	.drop-file-box{
		height: 55px;
	}
	.document-article-header{
		.popup-content{
			left: 5%;
			right: 5%;
		}
	}			
}

/********************************************************************************/
/*						Page 28.jpg General Styles								*/
/********************************************************************************/
.pdf-tabs{
	margin-top: 20px;
	> li{
		> a{
			font-size: 11px;
			padding: 10px;		
		}
	}
}
.tabHoverBorder{
	> li{
		a{
			&:hover{
				border: 1px solid transparent;
			}
		}
	}
}
.invisible{
	visibility: hidden;
}
.pdf-tabs-content{
	.pdf-viewer{
		border: 1px solid $light-grey-border;		
		background-color: transparent;
		.header-content{
			padding-top: 0px;
			.btn{
				font-size: 11px;
			}
		}
		.header-left{
			padding-left: 2px;
		}
	}
	.tab-pane{
		background-color: $section-bg;
		position: relative;
	}
	.pdf-wrapper{
		height: $tabs-pdf-wrapper-height_21;		
		border: none;
		margin-bottom: 0;
		.pdf-content{
			padding: 15px;
		}
		@media (min-width: 1700px) and (max-width: 2000px) {
			height: $tabs-pdf-wrapper-height_21;		
		}
	}
}
.pdf-tabs-content{
	.pdf-viewer{
		&.no-border{
			border: none;
		}
	}
}
.v-separator._4k-visible{
	display: none;
}
@media(max-width: 767px){
	.pdf-tabs{
		margin-top: 0;
		> li{
			> a{
				max-height: 35px !important;
			}
		}
	}
	.mobile-row{
		margin-left: -15px;
		margin-right: -15px;
	}
	.pdf-tabs-content{
		.header-content{
			.header-left, .header-right{
				margin-top: 10px;
			}
			.header-right{
				.no-add-pdf{
					li:first-of-type{
						margin-bottom: 35px;
						margin-top: 0;
					}
				}
			}
		}
		.pdf-viewer{
			.dlt-pdf, .dlt-all-pages{
				top: 21px;
			}
			.no-add-pdf{
				.dlt-pdf, .dlt-all-pages{
					top: 55px;
				}
			}
			.dlt-pdf{
				right: 135px;
			}
			.dlt-all-pages{
				right: 0;
			}
		}
		.pdf-wrapper.pdf-wrapper-adjusted{
			height: $tabs-pdf-wrapper-mobile-height;
			.pdf-content{
				padding: 10px;
			}
		}
	}
	.combine-pdf-header {
		.pdf-options{
		    clear: both;
		    display: block;
		    margin-bottom: 0;
		    margin-top: -25px;
		    padding-bottom: 35px;
		    padding-top: 0;
		    position: relative;
		    .dlt-pdf, .dlt-all-pages{
		    	top: 50px;
		    }
		}
		.pdf-wrapper.pdf-wrapper-adjusted{
			height: $combined-header-mobile-pdf-height;
			&.pdf-inside-tab{
				height: ($combined-header-mobile-pdf-height - 20px);			
			}

		}
	}	
}
@media(min-width: 1200px) and (max-width: 1265px){
	.pdf-tabs-content {
		.pdf-wrapper.pdf-wrapper-adjusted{
			height: 430px;
		}
	}
}
@media(max-width: 2150px){
	.combine-pdf-header{
		.pdf-options{
			display: block;
			clear: both;
		}		
	}

}
.sectionBg{
	background-color: $body-bg;
}
@include maxxs{
	.xs-justified, .small-justified{
		width: 100%;
		> li{
			width: 1%;
			display: table-cell;
			float: none;
		}
	}
}
.small-justified{
	> li{
		> a{
			@include extralgto4k{
				font-size: 25px;
			}
			@include maxsm{
				font-size: 11px;
				padding: 10px;
			}
		}
	}
}

.mbot150{
	margin-bottom: 150px !important;
}
.simple-tab-togller.loan-conditions{
	margin-bottom: -15px;
	@include extralgto4k{
		margin-bottom: 0;
	}
	.tab-pane{
		overflow-x: hidden;
		overflow-y: auto;
		height: 100px;
		@include extralgto4k{
			height: 390px;
		} 
		padding-top: 10px;
		p{
			@extend .roboto-light;
			color: $grey;
			@include extralgto4k{
				font-size: 30px;
			}
		}
	}
}


/********************************************************************************/
/*								Page Login Styles								*/
/********************************************************************************/
.page-login{
	height: 100%;
	width: 100%;
	/*brev8.2 mobile landscape alignments*/
	@media (max-width: 991px) and (min-width: 300px) and (orientation : landscape){
		height: 120%;
	}
	/*brev8.2 mobile landscape alignments*/
	.container, .row, .column{
		height: 100%;
	}
	> .container{
		> .row{
			> .column{
				position: relative;
			}
		}
	}
	.login-page-content{
		position: absolute;
		left: 0;
		top: 50%;
		width: 100%;
		@include extralgto4k{
			margin-top: -465px;
		}
		@include maxextralg{
			margin-top: -265px;
		}
		@include maxsm{
			margin-top: -221px;
		}
	}
	.login-page-inner{
		margin: 0 auto;
		@include css3-prefix(box-sizing, border-box);
		padding-left: 15px;
		padding-right: 15px;
		@include extralgto4k{
			width: 708px;
		}
		@include maxextralg{
			width: 360px;
		}
		@include maxsm{
			width: 320px;			
		}
	}
}
.page-login{
	background-image: 	url(../img/bg/login_border_bottom.jpg), 
					  	url(../img/bg/login_border_bottom.jpg), 
					  	url(../img/bg/login_bg-new.jpg);

	background-position: top left, 
						 bottom left, 
						 center center;

	background-repeat: no-repeat;
	img{
		width: 100%;
	}
	.login_logo{
		padding-left: 10%;
		padding-right: 10%;
		margin-bottom: 25px;
		@include maxsm{
			margin-bottom: 5px;
		}
	}
	.login-form{
		background-color: $white;
		padding: 40px 10%;
		@include maxsm{
			padding: 20px 10%;
		}
	}
	.login-form-controls{
		margin-top: 20px;
		padding-left: 10%;
		padding-right: 10%;
	}
	.form-group{
		margin-bottom: 20px;
		a{
			width: 100%;
			font-size: 17px;
			@extend .roboto-bold;
			@include extralgto4k{
				height: 75px;
				font-size: 40px;
			}		
		}
		@include extralgto4k{
			margin-bottom: 35px;
		}		
	}
	.form-control{
		text-align: center;
		border: 1px solid $login-from-controls-border;
		background: transparent !important;
		border-radius: 0;
		@extend .roboto-light;
		color: $file-name !important;
		@include extralgto4k{
			height: 75px;
		}
	}
}
.main-with-only-btn{
	.jspPane{
		height: 100%;
	}
}
.only-button-in-scrollbar{
	width: 100%;
	height: 100%;
	position: relative;
	.btn{
		@extend .roboto-bold;
		font-size: 14px;
		position: absolute;
		left: 50%;
		text-transform: uppercase;
		top: 50%;
		width: 170px;
		margin-left: -85px;
		margin-top:  -17px;
		padding-left: 0;
		padding-right: 0;
		text-align: center;
		@include extralgto4k{
			font-size: 20px;
			width: auto;
			margin-left: -111px;
		}
	}
}

/********************************************************************************/
/*								Page 42.jpg Styles								*/
/********************************************************************************/
.upload-file-options{
	position: relative;
	margin-top: 15px;
	padding-top: 25px;
	border-top: 1px solid $light-grey-border;
	p{
		@extend .roboto-medium;
		@include extralgto4k{
			font-size: 30px;
		}
	}
	.right-aligned-btn{
		top: auto;
		bottom: 0;
		margin-bottom: 0;
	}
}
.upload-files-table, .only-table-template{
	thead{
		border: 1px solid $light-grey-border;
	}
	table > thead > tr >  th, table tbody > tr > td{
		padding-left: 20px;
		padding-right: 20px;
	}
}
.upload-files-table{
	.custom-responsive-table.no-tabs-table{
		height: 300px;
		border-bottom: 1px solid $light-grey-border;
		@include extralgto4k{
			height: 620px;
		}
	}	
	.upload-file-btn{
		margin-top: 30px;
		margin-left: 2px;
	}
}
.only-table-template{
	.custom-responsive-table.no-tabs-table{
		@include maxsm{
			height: 580px;
		}
	}
}
.no-horizontal-scroll{
	overflow-x: hidden !important;
	.jspHorizontalBar{
		display: none !important;
	} 
}
.info-box{
	overflow-x: hidden; 
}
.no-left-panel .centered-right-side{
	margin-left: 5%;
	margin-right: 5%;
	@include maxsm{
		margin-left: 0;
		margin-right: 0;
	}
}
.section-header-top{
	.center-aligned-sm{
		@include maxsm{
			position: relative;
			text-align: center;
			margin-top: 10px;
			right: auto;
			top: auto;			
		}
	}
}
.loan-condition{
	width: 410px;
	&.popup-content{
		left: 50%;
		margin-left: -205px;
		top: auto;
		margin-top: 5%;
		@include maxxs{
			margin-left: 0;
			left: 0px;
			right: 0px;
		}		
		@include extralgto4k{
			margin-left: -350px;
			top: 1%;
		}
	}
	@include maxxs{
		width: auto;
	}
	@include extralgto4k{
		width: 700px;
	}
}

/********************************************************************************/
/*								Page 46.jpg Styles								*/
/********************************************************************************/
.noright-margin{
	margin-right: 0;
	@include maxlg{
		margin-right: -15px;
	}
}
.absolute-center{
	position: absolute;
	width: 100%;
	left: 0;
	top: 0;
	text-align: center;
	@include maxxs{
		position: relative;
		margin-top: 5px;
		text-align: left;
	}
}
.column-content{
	background-color: $section-bg;
	border-bottom: 1px solid $light-grey-border;
	min-height: 455px;
	margin-top: 15px;
	padding-top: 15px;
	padding-bottom: 30px;
	&.white{
		background-color: white;
		border: 1px solid $light-grey-border;
		border-top: none;
	}
	@include extralgto4k{
		min-height: 730px;
		padding-top: 50px;
		padding-bottom: 50px;
		#ifw_form{
			> .column{
				&:first-of-type{
/*					width: 80%;*/
					margin-left: 0;
					.row, .section-header-top{
						margin-left: 0;
					}
				}
			}
		}
	}
	> .half-column{
		@include extralgto4k{
			padding-left: 50px;
			padding-right: 50px;
		}
	}
	> .column{
		margin-top: 15px;
		width: 90%;
		margin-left: 5%;
		@include extralgto4k{
			margin-top: 20px;
		}
		@media (min-width: 1500px ){
			width: 80%;
			margin-left: 10%;
		}		
		/*z-index: 1;*/
		@include maxsm{
			margin-top: 5px;
		}
		&.full{
			width: 100%;
			margin-left: 0;
			li{
				vertical-align: middle;
			}
		}
	}
	.line{
		margin-bottom: 10px;
		.label-col{
			padding-left: 0;
			text-align: right;
			@include maxsm{
				text-align: left;
				padding-left: 15px;
			}
		}
		@include extralgto4k{
			margin-bottom: 20px;
		}
	}
	.label-col{
		margin-top: 8px;
	}
	.checkbox-inline{
		padding-left: 0;
	}
	.section-header-top{
		margin-left: -10%;
		h3{
			@include extralgto4k{
				font-size: 30px;
				margin-bottom: 30px;
			}
			@include maxsm{
				margin-bottom: 20px;
				margin-top: 20px;
			}
		}
		@media(max-height: 1499px){
			margin-left: 0;
		}
		&.no-left-margin{
			margin-left: 0;
		}
	}
	button{
		@media(max-width: 2149px){
			padding: 6px 10px;
		}
	}
}
.one-third-4k{
	@include extralgto4k{
		width: 33.3333%;		
	}
}
.one-third-above-21inch{
	@media (min-width: 1500px){
		width: 33.3333%;
	}
}
.main-left-column.single{
	> .section-wrapper{
/*		overflow-x: hidden;
		overflow-y: auto; */
	}
}
.full-width-main-left{
	height: 640px;
	overflow-x: hidden;
	overflow-y: auto;
	@include maxxs{
		height: 610px;
	}  
	@include extralgto4k{
		height: 100%;
		overflow: hidden;
	}
}
.btn.save-bottom{
	margin-left: 3px;
	margin-top: 20px;
	margin-bottom: 20px;

}
.btn.center-center-btn{
	position: absolute;
	left: 50%;
	top: 50%;
	width: 144px;
	margin-left: -72px;
	margin-top: -10px;
	@include extralgto4k{
		width: 210px;
		margin-left: -105px;
	}
}
.mmtop30{
	margin-top: -30px;
}
.responsive-striped-table.mmtop30{
	@include extralgto4k{
		margin-top: -67px;
	}
}
thead{
	@extend .gradient-thead;
}
table{
	> tbody{
		tr {
			 td{
			 	color: $input-blue;
			 	@include extralgto4k{
			 		font-size: 30px;
			 	}
			 }
		}
	}
}
.table-striped{
	&.table-condensed {
		> thead, > tbody, > tfoot{
			> tr > td, > tr > th{
				@include extralgto4k{
					padding: 0;
				}
			}
		}
	}	
	tr{
		th,td{
			&:first-of-type{
				padding-left: 40px !important;
			}
		}
	}
}
.responsive-striped-table{
	max-height: 186px;
	overflow: auto;
	margin-bottom: 20px;
	.table{
		margin-bottom: 0;
	}
	@include extralgto4k{
		max-height: 340px;
	}
	th{
		@include extralgto4k{
			font-size: 30px;
		}
	}
}
.border-right{
	border-right: 2px solid $light-grey-border; 
}
.absolute-bottom{
	position: absolute;
	left: 0;
	bottom: 20px;
	width: 100%;
	text-align: center;
	@include maxsm{
		bottom: 0;
		position: relative;
		margin-top: 15px;
	}
	.btn{
		min-width: 100px;
	}
}
.creat-ifw-btn{
	text-align: right;
}
.piti-popup{
	display: none !important;
}
.piti-hovered{
	display: block !important;
}



/********************************************************************************/
/*								Styles Added by Harish								*/
/********************************************************************************/


/* Datatable processing */
.dataTables_wrapper {
  position: relative;
  clear: both;
  *zoom: 1;
  zoom: 1;
}
.dataTables_wrapper .dataTables_processing {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 40px;
  margin-left: -50%;
  margin-top: -25px;
  padding-top: 8px;
  text-align: center;
  font-size: 1.2em;
  background-color: $white;
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(25%, rgba(255, 255, 255, 0.9)), color-stop(75%, rgba(255, 255, 255, 0.9)), color-stop(100%, rgba(255, 255, 255, 0)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 25%, rgba(255, 255, 255, 0.9) 75%, rgba(255, 255, 255, 0) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 25%, rgba(255, 255, 255, 0.9) 75%, rgba(255, 255, 255, 0) 100%);
  /* FF3.6+ */
  background: -ms-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 25%, rgba(255, 255, 255, 0.9) 75%, rgba(255, 255, 255, 0) 100%);
  /* IE10+ */
  background: -o-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 25%, rgba(255, 255, 255, 0.9) 75%, rgba(255, 255, 255, 0) 100%);
  /* Opera 11.10+ */
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 25%, rgba(255, 255, 255, 0.9) 75%, rgba(255, 255, 255, 0) 100%);
  /* W3C */
}
.h-link{
    cursor: pointer;
}
.show-full-text{
    background: none repeat scroll 0 0 $white;
    padding: 5px;
    border: 2px solid #D09530;
    position: absolute;
    z-index: 9999;
    display: none;
}
.tabfocus{
    outline: -webkit-focus-ring-color auto 5px;
}
.temp-22-v1-sidebar{
	@media (min-width: 1900px) and (max-width: 2150px) {
		.simple-tab-togller{
			margin-bottom: 10px;
			&:last-of-type{
				margin-bottom: 0px;
			}
		}
		.col-input{
			margin-bottom: 0;
		}
	}
}
.stemp-step2-v1{
	margin-bottom: 185px;
}