// Text, Links Colors
$white: #fffff;
$link-azure: #00adf7;
$link-greyish-brown: #4a4a4a;


$grey: #333333;
$white: #ffffff;
$input-blue: #0b2161;
$link-red: #b20000;
$orange: #ed8827;
$sidebar-disabled-item-link: #9f9f9f;
$green: #12911c;
$file-name: #0b2060;
$black: #000;
$red: #ff0000;
$off-text: #414141;
$table-green-link: #12931d;
$table-red-link: #ff1f1f;
$table-red-item: #ab0003;
$table-noevent-text: #404040;

// Body and Section Backgrounds
$body-bg: #e5e5e5;
$section-bg: #ececec;
$sidebar-disabled-item: #c1bfbf;
$mid-grey: #a1a1a1;
$scrollbar-bg: #818080;
$disabled-input: #c1bfc0;

// Borders
$light-grey-border: #d0d0d0;
$mid-grey-border: $mid-grey;
$dark-grey-border: $grey;
$dark-green-border: #12911c;
$light-green-border: #57ea62;
$light-orange-border: #fde082;
$dark-orange-border: $orange;
$table-header-border: #dddddd;
$steps-title-border: #999999;
$input-border: #cccccc;
$gw-grey-border: #a4a4a4;
$dark-black-border: #444444;
$light-black-border: #999999;
$light-red-border: #ff0f15;
$dark-red-border: #9d0000;
$login-from-controls-border: #c0c0c0;

// Gradients
$green-gradient-top: #17bd24;
$green-gradient-bottom: #12951d;
$yellow-gradient-top: #fddf81;
$yellow-gradient-middle: #f4ae4e;
$yellow-gradient-bottom: $orange;
$black-gradient-top: #606060;
$black-gradient-middle: #525252;
$black-gradient-bottom: #424242;
$red-gradient-top: #c20007;
$red-gradient-bottom: #9c0000;
$thead-gradient-top: #eeeeee;
$btnBlack-gradient-top: #7b7b7b;
$btnBlack-gradient-bottom: #535353;
$shadow: #888888;

// Input Background
$input-gradient-top: $white;
$input-gradient-bottom: $section-bg;


$equal-heights: 724px;
$responsive-table-height: 508px;
$mobile-loan-tab-height: 950px;
$mobile-custom-responsive-table-height: 475px;
$dashboard-tab-wrapper-height: 525px;
$main-desktop-height: 600px;
$b5_main-desktop-height: 625px;
$main-mobile-height: 550px;
$pdf-height: 700px;
$pdf-4k-height: 1800px;
$tabs-pdf-wrapper-height: 485px;
$tabs-pdf-wrapper-height_21: 415px;
$tabs-pdf-wrapper-mobile-height: 215px;
$responsive-table-no-tabs-height: 560px;
$mobile-custom-responsive-table-no-tabs-height: 710px;
$rightSidebar-minus-footer-height: 375px;
$_4k-rightSidebar-minus-footer-height: 1075px;
$combined-header-mobile-pdf-height: 530px;
$document-inside-tab-desktop-height: 570px;
$document-inside-tab-mobile-height: 535px;
$document-inside-tab-4k-height: 1335px;

